.live-space-detail {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.live-space-detail-mark {
  position: absolute;
  top: 15px;
  left: 15px;
}

.live-space-detail-stats {
  flex: 1;
  background-color: $gray-lighter;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-height: 750px) { display: none; }
}

.live-space-detail-stats-item {
  text-align: center;
}

.live-space-detail-stats-name {
  color: $gray-darker;

  margin: 0px;
  font-size: 24px;
  @media (min-height: 1024px) { font-size: 40px; }
}

.live-space-detail-stats-count {
  color: $brand-primary;
  font-size: 70px;
  @media (min-height: 1024px) { font-size: 100px; }
}

.live-space-detail-chart {
  flex: 1;
  background-color: $gray-cinder;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Some hacks to get the real time chart to work in this larger form-factor
// 1. Remove border (including border-radius)
// 2. Hide labels above and below chart. Currently, I'm rendering my own labels so that I can
// customize them a bit.
// 3. Adjust the size of the markers on the "fake" top label bar to match the size of them in the
// chart.
.live-space-detail .ingress-egress-card { border: 0px; }
.live-space-detail-real-time-chart .real-time-capacity-legend,
.live-space-detail-real-time-chart .real-time-capacity-labels { display: none; }
.live-space-detail-chart-top-header .real-time-capacity-count-marker {
  width: 10px;
  height: 10px;
  top: 0px;
}
