.visualization-space-detail-raw-event-card-header { display: flex; }
.visualization-space-detail-raw-events-card-header-label { line-height: 43px; }
.visualization-space-detail-raw-events-card-date-picker {
  margin-left: auto;
}

.visualization-space-detail-raw-events-card-body-placeholder {
  height: 500px;
}

.visualization-space-detail-raw-events-card-table-row {
  display: flex;
  list-style-type: none;
  padding-top: 13px !important;
  padding-bottom: 13px !important;

  font-size: $font-size-base;
  color: $gray-cinder;
  border-top: 1px solid $gray-light;
}
.visualization-space-detail-raw-events-card-table-row li {
  flex: 1;
}

.visualization-space-detail-raw-events-card-table-row.header {
  font-weight: bold;
  margin-top: 20px;
}
