.visualization-space-detail-raw-event-card-header { display: flex; }
.visualization-space-detail-raw-events-card-header-label { line-height: 43px; }
.visualization-space-detail-raw-events-card-date-picker {
  margin-left: auto;
}

.visualization-space-detail-raw-events-card-body-placeholder {
  height: 500px;
}
