$percentage-bar-container-height: 43px; /* The "row height" of the container */
$percentage-bar-height: 4px; /* THe height of the shaded bar itself within the container */
$percentage-bar-percentage-text-spacing: 8px; /* Spacing to the left of the formatted percentage*/

.percentage-bar-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  color: $brand-primary;
  line-height: $percentage-bar-container-height;
}

// The utilization bar that visually represents space utilization in a horizontal fashion
.percentage-bar {
  display: none; /* overridden in media query below */
  background-color: $gray-light;

  width: 100%;
  height: $percentage-bar-height;
  flex: 1;

  margin-top: ($percentage-bar-container-height - $percentage-bar-height) / 2;

  @media (min-width: $screen-xs-max) {
    display: inline-block;
  }
}
.percentage-bar-colored-section {
  /* a width is set as an inline style in the component, which overrides the style set below */
  width: 0%;

  background-color: $brand-primary;
  height: $percentage-bar-height;
  transition: all 250ms ease-in-out;
}

.percentage-bar-text {
  width: 32px;
  margin-right: $percentage-bar-percentage-text-spacing;
  font-weight: bold;

  @media (min-width: $screen-xs-max) {
    text-align: right;
    width: 3rem;
  }
}

.percentage-bar-text.disabled {
  color: $gray;
  font-size: $font-size-large;
}
