.environment-space-item {
  color: $text-color;
  margin-bottom: 10px;
  position: relative;
  background-color: $gray-lighter;
}

.card .card-header.environment-space-item-header {
  font-size: 16px;
}

.card .card-body.environment-space-item-body {
  min-height: 64px;
}

// Render each doorway within the space.
.environment-space-item-doorways {
  list-style-type: none;
  padding-left: 0px;
}
.environment-space-item-doorways li {
  background-color: #fff;
  display: inline-block;
  margin-right: $padding-horizontal-small;
  margin-top: $padding-horizontal-small;
  user-select: none;
  cursor: default;
  position: relative;

  font-size: 16px;

  border: 1px solid $gray-light;
  border-radius: $border-radius-small;
  margin-right: $padding-horizontal-x-small;

  color: $gray;
  padding: $padding-vertical-large $padding-horizontal-base;
  margin-bottom: 10px;
  user-select: none;

  display: inline-block;
}

// The sensor placement button for the doorway
.environment-space-item-doorways-placement {
  margin-left: $padding-horizontal-small;
  margin-right: $padding-horizontal-x-small;
  cursor: pointer;
  font-size: 10px;
  background-color: $brand-primary;
  color: #fff;
  padding: $padding-vertical-small $padding-horizontal-small;

  position: relative;
  top: -2px;
}
.environment-space-item-doorways-placement.out {
  background-color: $gray;
}

// The delete button for the doorway
.environment-space-item-doorways-delete {
  padding: 3px;
  color: #fff;
  background-color: $gray-darker;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;

  width: 10px;
  height: 10px;

  position: absolute;
  top: -8px;

  &:before {
    content: "\00d7";
    position: relative;
    bottom: 2px;
    left: 0.5px;
  }
}
