// This element is the smaller title that's visible above the card. It's roughly centered within the
// card's width.
.account-setup-overview-title {
  color: $gray-cinder;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;

  font-size: $font-size-2;
  font-weight: $font-weight-2;
}

// The main card, which shows a bunch of static content informing the user about the process they
// are about to go through.
.account-setup-overview-body-container {
  max-width: 500px;
  margin: 0px auto;
}
.account-setup-overview-body {
  margin-left: 20px;
  margin-right: 20px;
}

// The submit button, which moves to the next page of the process.
.account-setup-overview-submit {
  margin-top: 20px;
}

// When loading, report status messages in the center of the screen.
.account-setup-overview-loading {
  text-align: center;
  margin-top: 100px;
  font-size: $font-size-3;
}
