.environment {
  @include grid-container;
  max-width: 1200px;
  margin: 20px auto;
}

.space-column {
  @include grid-width(6, 6, 6, 6);
  height: calc(100vh - 76px);
  overflow: scroll;
}
.doorway-column {
  @include grid-width(6, 6, 6, 6);
  height: calc(100vh - 76px);
  overflow: scroll;
}
