.environment {
  @include grid-container;
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 10px;
  padding-right: 10px;

  position: relative;
}

.environment .fab {
  line-height: 60px;
  position: absolute;
  right: 16px;
}

// The popup that is visible when the user clicks the FAB (ie, create space / create doorway)
.environment-creation-context-menu {
  position: absolute;
  right: 16px;
  margin-top: 64px;
  z-index: 1000;
}

.environment-row {
  @include grid-row;
}

.space-column {
  @include grid-width(12, 6, 6, 6);
  height: calc(100vh - 76px);
  overflow: scroll;
  margin-top: 64px;
}
.doorway-column {
  @include grid-width(0, 6, 6, 6);
  height: calc(100vh - 76px);
  margin-top: 64px;
  overflow: scroll;
  display: none;

  // Hide doorways column on mobile
  @media (min-width: $screen-xs-max) {
    display: flex;
  }
}

.column-body {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  margin-top: 16px;

  border: 1px solid $gray-light;
  border-radius: 4px;
  background-color: #fff;
}

// remove left padding and top margin on `ul`'s inside of columns
.space-column ul, .doorway-column ul {
  padding-left: 0px;
  margin: 0px;
}
