.environment-container {
  @include grid-container;
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 10px;
  padding-right: 10px;

  position: relative;
}

.environment .fab {
  line-height: 60px;
  position: absolute;
  right: 16px;
}

// The popup that is visible when the user clicks the FAB (ie, create space / create doorway)
.environment-creation-context-menu {
  position: absolute;
  right: 16px;
  margin-top: 64px;
  z-index: 1000;
}

.environment-row {
  @include grid-row;
}

.space-column {
  @include grid-width(24, 12, 12, 12);
  height: calc(100vh - 250px);
  margin-top: 64px;
}
.doorway-column {
  @include grid-width(0, 12, 12, 12);
  height: calc(100vh - 250px);
  margin-top: 64px;
  display: none;

  // Hide doorways column on mobile
  @media (min-width: $screen-xs-max) {
    display: flex;
  }
}

// These are the toasts at the top of each column.
.environment-space-header, .environment-doorway-header {
  margin-bottom: $padding-vertical-base;
}

.column-body {
  @include make-card($background: $gray-lighter);
  padding: $padding-vertical-base $padding-horizontal-large;
  min-height: 100%;
  overflow: scroll;
  margin-top: $padding-vertical-base;
}

// remove left padding and top margin on `ul`'s inside of columns
.space-column ul, .doorway-column ul {
  padding-left: 0px;
  margin: 0px;
}
