// Header for the space list view. Contians a label and a search box.
.insights-space-list-header {
  padding-top: 40px;
  @media (min-width: $screen-xs-max) {
    display: flex;
  }
}
.insights-space-list-header-text {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  color: $gray-darkest;
  font-size: $font-size-2;
  font-weight: $font-weight-2;
}

.insights-space-list-search-box {
  margin-bottom: 20px;
  margin-right: 10px;
  /* margin-left: auto; is below in the @media rule */
  width: 200px;

  color: $gray-darker;
  &::placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: $gray;
    opacity: 1; // Placeholders in firefox have opacity be default. Undo that.
  }

  // When the space list is on mobile, the search box is on a new line.
  margin-left: 10px;
  margin-top: 20px;
  @media (min-width: $screen-xs-max) {
    margin-left: auto;
    margin-top: 0px;
  }
}

.insights-space-list-container {
  @include grid-container;
  margin-top: 2px;
}
.insights-space-list-row { @include grid-row; }
.insights-space-list-item { @include grid-width(24, 12, 12, 12); }
