$insights-space-list-item-height: 43px;

.insights-space-list-container {
  @include grid-container;
  margin-top: 2px;
}

// Header for the space list view that contains the search box and filters that are applied to the
// items in the card below.
.insights-space-list-header {
  padding-top: 40px;
  @media (min-width: $screen-xs-max) {
    display: flex;
  }
}
.insights-space-list-header-text { /* Large "Insights" header */
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;

  color: $gray-darkest;
  font-size: $font-size-2;
  font-weight: $font-weight-2;
}

// The "Filter spaces ..." box.
.insights-space-list-search-box {
  margin-right: auto;
  margin-bottom: 10px; /* increase vertical spacing between search box and the filter items below */
  width: calc(100% - 15px);
  @media (min-width: $screen-xs-max) {
    width: 200px;
    margin-bottom: 0px; /* on desktop, the search box is inline with the filter items (no vertical adjustment needed) */
  }

  color: $gray-darker;
  &::placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: $gray;
    opacity: 1; // Placeholders in firefox have opacity by default. Undo that.
  }
}

.insights-space-list-filter-spaces-row {
  @include grid-row;
  margin-top: 20px;
  margin-bottom: 40px;

  // on mobile, render all filters vertically (each filter item is given vertical spacing to
  // accommodate this) 
  flex-direction: column;
  @media (min-width: $screen-xs-max) {
    flex-direction: row; /* on desktop, render filters horizontally (and no vertical padding on each filter item) */
  }
}

.insights-space-list-filter-text-label {
  font-size: $font-size-base;
  color: $gray-cinder;
  line-height: $insights-space-list-item-height;

  user-select: none;

  margin-right: auto; /* on mobile, render the label for the box on left, and the input on right */
  @media (min-width: $screen-xs-max) {
    margin-right: 15px; /* on desktop, render text labels side-by-side with their inputs */
    margin-left: 15px;
  }
}


// Adjust the spacing around the `SortableGridHeader`.
// This inverts the styles that are defaultly placed on a card body (padding all around the card
// body) so that the hover background on each list item can extend to the edge of the card.
.card .insights-space-list-card-body {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.insights-space-list {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

// Style each row to include the space name and utilization percentage.
.insights-space-list-item {
  cursor: pointer;
  color: $gray-cinder;

  line-height: $insights-space-list-item-height;
  font-size: $font-size-base;
  &:hover { background-color: $gray-lightest; }
}
.insights-space-list-item.header:hover { background-color: transparent; }

.insights-space-list-item-name {
  padding-left: 20px;
  border: 0;

  width: 40%; /* width of cell on mobile */
  @media (min-width: $screen-xs-max) {
    width: 30%; /* width of cell on desktop */
  }

  // When the width of the flex child gets too small, shorten the space name with an ellipsis.
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.insights-space-list-item-capacity {
  padding-left: 20px;

  white-space: nowrap;
  & > a { text-decoration: underline; } /* 'set capacity' links should have an underline */

  width: 25%; /* width of cell on mobile */
  @media (min-width: $screen-xs-max) {
    width: 20%; /* width of cell on desktop */
  }
}
.insights-space-list-item-utilization {
  padding-right: 20px;

  display: flex;
  flex-direction: row;
}

// Finally, the small arrow at the right end of the space item row. This idicated that the item can
// be clicked.
.insights-space-list-item-arrow {
  font-family: "Densicons";
  font-size: $font-size-x-small;
  color: $brand-primary;
  margin-left: 20px;
}

.card .insights-space-list-filters {
  display: flex;

  flex-direction: column; /* on mobile, filter items are displayed vertically */
  padding: 15px;

  @media (min-width: $screen-xs-max) {
    flex-direction: row; /* on desktop, filter items are side-by-side. */
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
  }

  background-color: $gray-lightest;
}

.insights-space-list-filter-item {
  display: flex;
  flex-direction: row;

  margin-top: 10px; /* on mobile, add vertical spacing between filter items */
  margin-left: 0px;
  width: 100%; /* also on mobile, take up full width of column */
  @media (min-width: $screen-xs-max) {
    margin-top: 0px; /* on desktop, filter items are side-by-side. No vertical spacing needed. */
    margin-left: 20px;
    width: auto; /* on desktop, filter items define their own widths */
  }

  // The space hierarchy filter is the first one. All other filters after it are right aligned.
  &:first-child {
    margin-left: 0px;
    margin-right: auto;
  }
}

// The "space hierarchy" selector - pick building, floor, or campus
.insights-space-list-space-hierarchy-selector {
  color: $gray-cinder;
  width: 100%;
  @media (min-width: $screen-xs-max) {
    width: 200px;
  }
}

// The "Working hours" / "Whole day" / "Breakfast" / etc selector.
.insights-space-list-time-segment-selector {
  color: $gray-cinder;
  width: 100%;
  @media (min-width: $screen-xs-max) {
    width: 200px;
  }
}

// The "week" / "month" selector
.insights-space-list-duration-selector {
  color: $gray-cinder;
  width: 100%;
  @media (min-width: $screen-xs-max) {
    width: 170px;
  }
}
