.insights-space-list-container {
  @include grid-container;
  margin-top: 2px;
}

// Header for the space list view. Contians a label and a search box.
.insights-space-list-header {
  padding-top: 40px;
  @media (min-width: $screen-xs-max) {
    display: flex;
  }
}
.insights-space-list-header-text {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  color: $gray-darkest;
  font-size: $font-size-2;
  font-weight: $font-weight-2;
}



.insights-space-list-filter-row {
  @include grid-row;
  margin-top: 20px;
  margin-bottom: 40px;
}

.insights-space-list-search-box {
  width: 200px;
  margin-right: auto;

  color: $gray-darker;
  &::placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: $gray;
    opacity: 1; // Placeholders in firefox have opacity be default. Undo that.
  }
}

.insights-space-list-text-label {
  font-size: $font-size-base;
  color: $gray-cinder;

  line-height: 43px;
  margin-left: 15px;
  margin-right: 15px;

  user-select: none;
}

// The "Working hours" / "Whole day" / "Breakfast" / etc selector.
.insights-space-list-time-segment-selector {
  color: $gray-cinder;
  width: 200px;
}

// The "week" / "month" selector
.insights-space-list-duration-selector {
  color: $gray-cinder;
  width: 100px;
}






// The header of the card that displays the collective space metric (either utilization or total
// events, I forgot).
.card .insights-space-list-summary-header {
  background-color: $gray-lightest;
  color: $gray-cinder;

  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.insights-space-list-summary-header-highlight {
  color: $brand-primary;
  margin-left: 5px;
  margin-right: 5px;
}




// Adjust the spacing around the `SortableGridHeader`.
.card .insights-space-list-card-body {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.insights-space-list-items { margin-top: 20px; }

// Style each row to include the space name and utilization percentage.
$insights-space-list-item-height: 43px;
.insights-space-list-item {
  display: flex;
  cursor: pointer;

  width: calc(100% - 20px - 20px);
  padding-left: 20px;
  padding-right: 20px;

  line-height: $insights-space-list-item-height;
  font-size: $font-size-base;
  &:hover { background-color: $gray-lightest; }
}
.insights-space-list-item-name { flex: 2; }
.insights-space-list-item-capacity {
  margin-left: 30px;
  flex: 1;
}
.insights-space-list-item-utilization {
  margin-left: 20px;
  flex: 3;
}

.insights-space-list-item-utilization {
  display: flex;
  flex-direction: row;
}

// The utilization bar that visually represents space utilization in a horizontal fashion
$insights-space-list-item-utilization-bar-height: 4px;
.insights-space-list-item-utilization-bar {
  display: inline-block;
  background-color: $gray-light;

  width: 100%;
  height: $insights-space-list-item-utilization-bar-height;
  flex: 1;

  margin-top: ($insights-space-list-item-height - $insights-space-list-item-utilization-bar-height) / 2;
}
.insights-space-list-item-utilization-bar-inner {
  /* a width is set as an inline style in the component, which overrides the style set below */
  width: 0%;

  background-color: $brand-primary;
  height: $insights-space-list-item-utilization-bar-height;
  transition: all 100ms ease-in-out;
}
.insights-space-list-item-utilization-label {
  display: inline-block;
  color: $brand-primary;
  margin-right: 30px;
  width: 3rem; /* 3 character width is the maximum (non-100%) width: 99% is 3 chars */
  text-align: right;
}
.insights-space-list-item-utilization-label.disabled {
  color: $gray;
  font-size: $font-size-large;
}

// Finally, the small arrow at the right end of the space item row. This idicated that the item can
// be clicked.
.insights-space-list-item-arrow {
  font-family: "Densicons";
  font-size: $font-size-x-small;
}
