.form-label {
  color: $gray;
  display: flex;
  flex-direction: column;
  color: $gray-darkest;
}

// The actual label element within the `form-label`
.form-label-label {
  display: block;
  margin-bottom: 10px;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  user-select: none;
  color: $gray;
  position: relative;
}
// The first .form-label-label should not have a top margin.
.form-label:first-child .form-label-label {
  margin-top: 0px;
}

// The last .form-label should have some bottom margin.
.form-label:last-child, .form-label:last-of-type {
  margin-bottom: 10px;
}

// Editable fields always have bottom margin.
.form-label-editable, .form-label-editable:last-of-type {
  margin-bottom: 40px;
}

.form-label input {
  flex: 1;
}
.form-label span {
  flex: 1;
  height: 34px;
}

.form-label-info-icon {
  font-family: "Densicons";
  font-size: $font-size-3;

  position: absolute;
  top: -4px;
  right: 0px;
}
