// Right align the header button in the header of the card.
.token-card-edit {
  float: right;
  font-weight: normal;
}

.token-card-header-text {
  font-weight: normal;
}

// Use flexbox to lay out the token text box in the body of the card.
.token-card-body {
  display: flex;
  flex-direction: row;
}

// Token card contents
.token-card-token-content {
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  color: $gray-dark;

  display: block;
  flex: 1;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

// Badge used to display token permissions in the header of the token card. Either contains "Read
// Only" or "Read / Write".
.token-card-permissions-badge {
  background-color: $gray-light;
  color: $gray-dark;
  cursor: default;
  user-select: none;

  display: inline-block;
  padding: 1px 14px;
  margin-left: 20px;
  border-radius: $border-radius-small;

  height: 16px;
  line-height: 16px;

  text-align: center;
  font-size: $font-size-x-small;
  font-weight: normal;

  position: relative;
  top: -3px;
}
