// Badge used to display token permissions in the header of the token card
.token-card-permissions-badge {
  background-color: $gray-darker;
  color: #FFF;
  cursor: default;
  user-select: none;

  display: inline-block;
  padding: $padding-vertical-small $padding-horizontal-small;
  margin-left: $padding-horizontal-large;

  text-align: center;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
}

.token-card-edit {
  float: right;
}

// Token card contents
.token-card-token-content {
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;

  display: block;
  padding: $padding-vertical-large $padding-horizontal-large;
  font-size: 0.8em;

  background-color: $gray-lighter;
  color: $gray-darker;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.token-card-copy-token-button {
  width: 100%;
  margin-top: $padding-vertical-large;
}
