// Right align the header button in the header of the card.
.token-card-edit {
  margin-left: auto;
  font-weight: normal;
}

.token-card-header-text {
  font-size: $font-size-3;
  font-weight: $font-weight-3;
}

// Use flexbox to lay out the token text box in the body of the card.
.token-card-body {
  display: flex;
  flex-direction: row;
}

.card .token-card-header { padding-bottom: 10px; }

// Token card contents
.token-card-token-content {
  font-family: $font-monospace;
  color: $gray-darkest;

  display: block;
  flex: 1;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

// Badge used to display token permissions in the header of the token card. Either contains "Read
// Only" or "Read / Write".
.token-card-permissions-badge {
  background-color: $gray-light;
  color: $gray-dark;
  cursor: default;
  user-select: none;

  display: inline-block;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  border-radius: $border-radius-small;

  height: 23px;
  line-height: 23px;

  text-align: center;
  font-size: $font-size-6;
  font-weight: $font-weight-6;

  position: relative;
  top: -3px;
}
