.app-bar-transparent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 80px;
}

.app-bar-transparent-title {
  font-size: 24px;
  font-weight: bold;
}
