<div class="app-bar">
  <!-- <button class="app-bar-side-nav-btn js-side-nav-toggle">
    <i class="icon-menu"></i>
  </button> -->
  <a class="app-bar-brand" href="/">
    <img class="app-bar-logo" src="{{ resolveAsset('assets/images/app_bar_logo.png') }}" alt="Density Logo">
  </a>


  <div class="app-bar-right-nav">
    <!-- <a class="app-bar-app-action" href="/">
      <div class="app-bar-app-action-icon">
        <i class="icon-menu"></i>
      </div>
    </a> -->
  </div>

</div>
<!-- /.app-bar -->
