// Style the header at the top of the page such that a 500px wide inner section is centered
// within the container, and that when less than 500px the text is 20px from the left side of the
// screen.
.account-setup-header-container {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;

  margin-bottom: 30px;
}
.account-setup-header {
  max-width: 1020px;
  margin: 0px auto;
}

// The two items within the header at the top of the page are the greeter and the detail. The
// greeter is the first, larger header item, and the detail is the complementry item underneath.
.account-setup-header-greeter {
  font-size: $font-size-2;
  font-weight: $font-weight-2;
  color: $gray-cinder;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.account-setup-header-detail {
  margin-left: 20px;
  margin-right: 20px;
  color: $gray-dark;
}
