// A sub-navbar used on pages to provide a second layer of navigation.
.subnav {
  font-size: $font-size-base;
  background-color: #222A2E;
  line-height: 36px;

  // Remove the paddings from the width.
  width: calc(100% - 18px - 18px);
  padding-left: 18px;
  padding-right: 18px;
}

.subnav-items {
  max-width: 980px;
  width: 100%;
  margin: 0px auto;
  padding-left: 0px;
}

.subnav-item {
  display: inline-block;
  margin-right: 20px;
}

.subnav-item a {
  color: $gray;
  text-decoration: none;
}

.subnav-item.active {
  margin-top: 3px;
  border-bottom: 3px solid $brand-primary;
}
.subnav-item.active a {
  color: #fff;
}

// Links that point to external resources in the navbar have a special icon after them.
.subnav-item.external a:after {
  font-family: "Densicons";
  content: '\e91b';

  // Provide an offset from the list item.
  position: relative;
  top: 2px;
  left: 5px;
}
