// Provide some padding to align the arrow properly with the three dots icon
.environment-modal-update-doorway.view .popover {
  margin-left: -4px;
  margin-top: 4px;
  width: 350px;
}

// Move the body up a bit so that the card header (with the edit button) doesn't have its own row.
.environment-modal-update-doorway.view .card-body {
  margin-top: -15px;
  padding: 25px;
}

// Float the edit button to the right.
.update-doorway-edit-button {
  float: right;
  padding: 10px;
  font-weight: normal;
}

// Textarea used to enter description for the doorway
.update-doorway-description-container { margin-bottom: 40px; }
.update-doorway-description-container textarea {
  min-height: 5em;
  resize: vertical;
}

// Suffix after the doorway name
.update-doorway-name-readonly span:after {
  content: " Doorway";
  color: $gray;
}
