.environment-modal-update-doorway input[type=text]:disabled {
  background-color: $gray-light;
}

// Provide some padding to align the arrow properly with the three dots icon
.environment-modal-update-doorway.view .popover {
  margin-left: -4px;
  margin-top: 4px;
}

// Textarea used to enter description for the doorway
.update-doorway-description-container { margin-bottom: 10px; }
.update-doorway-description-container textarea {
  min-height: 10em;
  resize: vertical;
}
