.visualization-space-detail-24-hour-card-header { display: flex; }
.visualization-space-detail-24-hour-card-header-label {
  line-height: 43px;
  font-weight: normal;
}
.visualization-space-detail-24-hour-card-date-picker { margin-left: auto; }

// The 24 hour chart is a fixed width and is scrolalble within the card.
.card .visualization-space-detail-24-hour-card-body {
  padding: 0px;
  overflow-x: auto;
  & > div { width: 978px; }
}



// The well is the darker section in the card that is darker than the surroundings. It has a number
// of sections that are line seperated that each contain a numberic value and a label below.
.visualization-space-detail-well {
  display: flex;

  // On mobile, stack items vertically.
  flex-direction: column;

  // On a computer, stack horizontally.
  @media (min-width: $screen-xs-max) {
    flex-direction: row;
    height: 150px;
  }

  background-color: $gray-lightest;
  margin-top: 20px;
}
.visualization-space-detail-well-section {
  flex: 1;
  // On mobile, make each item a flex parent so that the order of items can be changed with `order`.
  display: flex;

  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;

  // On a computer, add more spacing above and below each cell. Also, change the display property
  // back to block because the items don't need reordering.
  @media (min-width: $screen-xs-max) {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;

    border-left: 2px solid $gray-light;
  }
}
.visualization-space-detail-well-section:first-child { border-left-width: 0px; }

.visualization-space-detail-well-section-quantity {
  color: $brand-primary;
  font-size: $font-size-3;
  font-weight: $font-weight-3;

  // On mobile, place the quantity contents before the label.
  order: 2;

  // Space the quantity a bit apart from the section label.
  margin-left: 10px;

  // On a computer, make the quantity big and above the the section label.
  @media (min-width: $screen-xs-max) {
    display: block;
    font-size: $font-size-1;
    font-weight: $font-weight-1;
    margin-left: 0px; // Undo spacing above.
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.visualization-space-detail-well-section-label {
  margin-left: 20px;

  // On mobile, place the quantity label after the contents.
  order: 1;

  // Add a colon after the label of the cell.
  &:after { content: ': '; }

  // Remove the colon on desktop
  @media (min-width: $screen-xs-max) {
    margin-left: 0px;
    &:after { content: ''; }
  }
}


// Refresh icon to refetch data
.visualization-space-detail-24-hour-card-header-refresh:before {
  content: '\e92d';
  font-family: "Densicons";
  margin-left: 10px;
  font-size: $font-size-base;
  color: $brand-primary;
  cursor: pointer;
}
.visualization-space-detail-24-hour-card-header-refresh:hover { opacity: 0.8; }
.visualization-space-detail-24-hour-card-header-refresh:active { opacity: 1; }


// Horizontally and vertically center errors and info messages in the 24 hour card.
.visualization-space-detail-24-hour-card-body-info,
.visualization-space-detail-24-hour-card-body-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 405px;

  font-size: $font-size-base;
  color: $gray-cinder;
}
// Errors should be prefixed by the error icon
.visualization-space-detail-24-hour-card-body-error-icon {
  color: $brand-danger;
  font-family: "Densicons";
  margin-right: 10px;
  position: relative;
}
