.card .visualization-space-detail-24-hour-card-body { padding: 0px; }
.visualization-space-detail-24-hour-card-header { display: flex; }
.visualization-space-detail-24-hour-card-header-label { line-height: 43px; }
.visualization-space-detail-24-hour-card-date-picker { margin-left: auto; }

.visualization-space-detail-24-hour-card-body-placeholder {
  height: 405px;
}
