.explore-edit-count-modal .card-header { font-weight: normal; }

.explore-edit-count-modal-reset-count {
  font-size: $font-size-base;
  font-weight: $font-weight-base;

  color: $brand-primary;
  text-decoration: underline;
  cursor: pointer;

  margin-left: 10px;
}

.explore-edit-count-modal-count-picker {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.explore-edit-count-modal-count-picker-label input {
  color: $brand-primary;
  font-size: $font-size-base;
  font-family: $font-base;

  text-align: center;
  width: 100px;

  margin-left: 40px;
  margin-right: 40px;
  padding-right: 14px;

  position: relative;
  bottom: -6px;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.explore-edit-count-modal-count-button {
  width: 54px;
  height: 54px;
  font-size: $font-size-2;
  border-radius: 50%;

  outline: none;

  color: $gray;
  background-color: #fff;
  border: 1px solid $gray;
  cursor: pointer;
}
.explore-edit-count-modal-count-button.subtract { margin-left: auto; }
.explore-edit-count-modal-count-button.add { margin-right: auto; }
.explore-edit-count-modal-count-button:hover { opacity: 0.8; }
.explore-edit-count-modal-count-button:active { opacity: 1; }
.explore-edit-count-modal-count-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.explore-edit-count-modal-submit { font-weight: normal; }
