// Provide some padding to align the arrow properly with the three dots icon
.environment-modal-update-space.view .popover {
  margin-top: -6px;
  margin-left: -2px;
  width: 350px;
}

// Move the body up a bit so that the card header (with the edit button) doesn't have its own row.
.environment-modal-update-space.view .card-body {
  margin-top: -15px;
  padding: 25px;
}

// Float the edit button to the right.
.update-space-edit-button {
  padding: 10px;
  font-weight: normal;
}


// ----------------------------------------------------------------------------
// Doorway pill list
// ----------------------------------------------------------------------------

.environment-modal-update-space-doorway-pill {
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 4px;

  font-size: $font-size-6;
  font-weight: $font-weight-6;
  line-height: 23px;
  text-align: center;

  color: $brand-primary;
  border: 1px solid $brand-primary;
  border-width: 1px;
  border-radius: $border-radius-small;

  user-select: none;
  cursor: default;
  transition: all 100ms ease-in-out;
}
.environment-modal-update-space-doorway-pill:first-child {
  margin-left: 0px;
}


.environment-modal-update-space .card {
  overflow: visible !important;
}

.update-space-daily-reset-select, .update-space-time-zone-select {
  width: 100%;
}
