.explore-space-daily-page {
  overflow-y: auto;
}

.explore-space-daily-time-segment-box {
  width: 350px;
}

.explore-space-daily-container {
  padding-bottom: 200px;
  width: calc(100% - 18px - 18px);
  padding-left: 18px;
  padding-right: 18px;
}
.explore-space-daily {
  max-width: 980px;
  margin: 0px auto;
}

.explore-space-daily-item {
  margin-bottom: 40px;
}
