// This element is the smaller title that's visible above the card. It's roughly centered within the
// card's width.
.account-setup-doorway-detail-title {
  color: $gray-cinder;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;

  font-size: $font-size-2;
  font-weight: $font-weight-2;
}
// This element is the subtitle underneath of the main title.
.account-setup-doorway-list-subtitle {
  color: $brand-primary;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: $font-size-4;
  font-weight: normal;
  font-style: italic;
}

// The main card, which shows a bunch of static content informing the user about the process they
// are about to go through.
.account-setup-doorway-detail-body-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.account-setup-doorway-detail-body {
  margin-left: 20px;
  margin-right: 20px;
}

.account-setup-doorway-detail-body-header {
  color: $gray-cinder;
  font-size: $font-size-2;
  margin-top: 60px;
}
.account-setup-doorway-detail-body-header:first-child {
  margin-top: 30px;
}
.account-setup-doorway-detail-body-header em {
  font-style: normal;
  color: $brand-primary;
  margin-right: 8px; /* Needed to increase the distance between the mdash and the header */
}

.account-setup-doorway-detail-body-section {
  margin-top: 30px;
  margin-bottom: 40px;
  color: $gray-dark;
  font-size: $font-size-base;
  font-weight: lighter;
}

// The box that contains the guidelines for the user when measuring the doorway
.account-setup-doorway-detail-body-guidelines-box {
  background-color: $gray-lightest;
  border-radius: $border-radius-base;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: $font-size-base;
  line-height: $font-size-base * 2;

  color: $gray-darker;
  width: calc(100% - 30px);
}
.account-setup-doorway-detail-body-guidelines-box ul { padding-left: 20px; }

// Container that has within the "ideal doorway" image.
.account-setup-doorway-detail-body-ideal-image-box { width: 100%; }


// A container to hold the 'Metric' and 'Imperial' radio buttons for picking the proper unit of
// measurement when measureing height and width of the doorway.
.account-setup-doorway-detail-body-measurement-radio-container {
  display: flex;
  flex-direction: row;

  margin-top: 30px;
  margin-bottom: 20px;
}
// Add spacing between the 'Metric' and 'Imperial' radio buttons
.account-setup-doorway-detail-body-measurement-radio-container .radio-button:first-child { margin-right: 20px; }


.account-setup-doorway-detail-body-section-clearance {
  margin-top: 10px;
  margin-bottom: 40px;
  color: $gray-dark;
  font-size: $font-size-base;
  font-weight: lighter;
}
.account-setup-doorway-detail-clearance-graphic { width: 100%; }

// A container to hold the 'Yes' and 'No' radio buttons for picking if there's enough space above a
// doorway to mount a sensor to the wall.
.account-setup-doorway-detail-body-clearance-radio-container {
  display: flex;
  flex-direction: row;

  margin-top: 40px;
  margin-bottom: 10px;
}
// Add spacing between the 'Yes' and 'No' radio buttons
.account-setup-doorway-detail-body-clearance-radio-container .radio-button:first-child { margin-right: 20px; }


// Each input box within the main card (ie, text boxes and select boxes) has a label above it that
// describes its function.
.account-setup-doorway-detail-body-input-label {
  display: block;
  margin-bottom: 5px;

  color: $gray-cinder;
  font-size: $font-size-5;
  font-weight: 500;
}
.account-setup-doorway-detail-body-input-label-highlight { color: $brand-primary; margin-left: 10px; }
.account-setup-doorway-detail-body-input-label.mounting-space { margin-top: 20px; }

// And, the text boxes that the labels are above are the full width (minus a 14px padding and 2px
// total in borders)
.account-setup-doorway-detail-body-input { width: calc(100% - 14px - 1px - 1px); }

.account-setup-doorway-detail-body-power-radio-button-spacer {
  height: 6px;
  width: 100%;
}

// The submit button, which moves to the next page of the process.
.account-setup-doorway-detail-submit {
  margin-top: 20px;
}
.account-setup-doorway-detail-save-add-another-button { margin-top: 10px; }
