.insights-space-detail-daily-metrics-card {
  margin-top: 40px;
}

.card .insights-space-detail-daily-metrics-card-body {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  border-top: 1px solid $gray-light;

  // Make the chart horizontally scrolalble below widths of 978px.
  overflow-x: auto;
  & > div { width: 978px; }
}
.insights-space-detail-daily-metrics-card-body .short-timespan-chart {
  padding-bottom: 20px;
}

// START DAILY METRICS CARD HEADER

// "mobile mode" layout
// title              refresh-button.mid
// metric-picker (refresh-button.end hidden)

// "desktop mode" layout
// title (refresh-button.mid hidden) metric-picker refresh-button.end

.card .insights-space-detail-daily-metrics-card-header {
  display: flex;
  flex-direction: column;
  align-items: normal;

  // When in "mobile mode", adjust the size to be smaller
  height: 70px;
  padding-top: 35px;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
    align-items: center;

    // Reset the values set previously to their default values.
    height: 18px;
    padding-top: 30px;
  }
}
.insights-space-detail-daily-metrics-card-metric-picker {
  .input-box { color: $gray-cinder; }
  margin-top: 15px;

  // Work around an issue where the z-index of the info popup was below the z-index of the select
  // box, which on small width screens made the select box show above the popup when their bounding
  // boxes intersect.
  position: relative;
  z-index: -100;

  @media (min-width: $screen-sm-min) {
    margin-top: 0px;
    margin-left: auto;
    margin-right: 20px;
  }
}

.insights-space-detail-daily-metrics-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// There are two "refresh buttons" in the dom - one in the middle, and one at the end.
// The one in the middle is shown in "mobile mode", as it's in an optimal position to flow to the
// end of the row when the select box is wrapped to the column below. The one at the end is shown in
// "desktop mode", which makes sense when the select box isn't wrapped to the next line.
.insights-space-detail-daily-metrics-card-refresh.mid {
  margin-left: auto;
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}
.insights-space-detail-daily-metrics-card-refresh.end {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: inline-block;
  }
}

// END DAILY METRICS CARD HEADER


// Horizontally and vertically center errors and info messages in the daily metrics card.
.insights-space-detail-daily-metrics-card-body-info,
.insights-space-detail-daily-metrics-card-body-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 373px;

  font-size: $font-size-base;
  color: $gray-cinder;
}
// Errors should be prefixed by the error icon
.insights-space-detail-daily-metrics-card-body-error-icon {
  color: $brand-danger;
  font-family: "Densicons";
  margin-right: 10px;
  position: relative;
  top: -2px;
}

// Refresh icon to refetch data
.insights-space-detail-daily-metrics-card-refresh {
  display: inline-block;
  transform: translate(0px, 3px);
  cursor: pointer;
}
.insights-space-detail-daily-metrics-card-refresh:hover { opacity: 0.8; }
.insights-space-detail-daily-metrics-card-refresh:active { opacity: 1; }
.insights-space-detail-daily-metrics-card-refresh.disabled {
  cursor: default;
  pointer-events: none;
}


.insights-space-detail-daily-metrics-card-popup-ul {
  line-height: 20px;
  padding-left: 20px;
  li { margin-bottom: 10px; }
}
.insights-space-detail-daily-metrics-card-popup-p {
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.daily-metrics-axis-x .tick text { font-weight: 400; }
