// Add spacing between each button in the list.
.environment-modal-sensor-placement-assignment .button { margin-bottom: 10px; }
.environment-modal-sensor-placement-assignment .button:last-child { margin-bottom: 0px; }

// NOTE: HACK. card-body is acting up.
.environment-modal-sensor-placement-assignment .card-body {
  margin-top: -8px;
}

// Button group to split the modal between the outside the space and inside the space.
.environment-modal-sensor-placement-assignment-button-group {
  display: flex;
}

.environment-modal-sensor-placement-assignment-button-group .button {
  flex: 1;
  margin-top: 40px;
  margin-bottom: 20px;
  &:first-child { margin-right: 10px; }
  &:last-child { margin-left: 10px; }
}

.environment-modal-sensor-placement-assignment-button-close {
  background-color: $gray;
}
