.create-doorway-submit {
  margin-top: 10px;
}

// Textarea used to enter description for the doorway
.create-doorway-description-container { margin-bottom: 10px; }
.create-doorway-description-container textarea {
  min-height: 10em;
  resize: vertical;
}
