.alerts-section {
  margin-top: 50px;

  h1 {
    display: inline-block;
  }
  .slack-logo {
    height: 30px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 10px;
  }
  
  .add-new-alert-button {
    float: right;
  }
  .circle-button {
    width: 58px;
    height: 58px;
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brand-primary;
    cursor: pointer;

    i {
      font-weight:bolder;
      color: white;
      margin-top: 2px;
    }
    i:before {
      font-size: 20px;
    }
  }
  
  .circle-button:active {
    transform: translateY(2px);
  }

  .alerts-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .alert-cell {
    box-sizing: border-box;
    padding: 20px 10px;
    padding-bottom: 60px;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  
    .card-top-header {
      padding: 20px 0;

      .title {
        font-weight: 600;
        font-size: 16px;
      }

      .action {
        float: right;
        text-decoration: underline;
        color: $gray-dark;
        cursor: pointer;
        margin: 0 5px;
      }

      .primary-action {
        color: $brand-primary;
      }
    }


    .card-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .action {
        text-decoration: underline;
        color: $gray-dark;
        cursor: pointer;
        font-size: 14px;
        margin-top: 4px;
        margin-left: 10px;
      }
      .action.primary-action {
        color: $brand-primary;
      }

      .pt-control {
        margin: 0;
      }
    }
  }
  .alert-cell.new {
    -webkit-animation: fadepop 0.3s;
    animation: fadepop 0.3s;
    opacity: 1;
    transform: scale(1,1);
  }
  
  .alert-line {
    padding-bottom: 10px;
  }

  .pt-select {
    margin-left: 15px;
  }
  .pt-select select:disabled {
    color: inherit;
  }
  

  input {
    border: 1px solid $gray-light;
    margin: 0 15px;
    padding: 9px;
    font-size: 14px;
    width: 60px;
    border-radius: 3px;
  }
  input:disabled {
    outline: none;
    border-color: transparent;
    box-shadow: none;
    background-clip: border-box;
    background-color: rgba(206, 217, 224, 0.5);
    background-image: none;
    cursor: not-allowed;
  }

}

@media (max-width: $screen-md) {
  .alerts-section .alert-cell {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}