.alerts-section {
  margin-top: 50px;

  .alerts-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
  }

  .alert-cell {
    width: 480px;
    padding-bottom: 60px;

    .card-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .action {
        text-decoration: underline;
        color: $gray-dark;
        cursor: pointer;
        font-size: 14px;
        margin-top: 4px;
      }

      .pt-control {
        margin: 0;
      }
    }
  }
}
