.billing-section {
  padding-top: 50px;

  h1 {
    margin-bottom: 40px;
  }

  .credit-card-on-file {
    margin-bottom: 20px;
  }

  .react-credit-card__container {
    max-width: 100%;
  }

  .credit-card-form {
    .form-control {
      margin-top: 0;
    }
  }
  .number input {
    width: 100%;
  }

  .cvc, .exp {
    display: inline-block;
    margin-top: 20px;
    width: 50%;
    box-sizing: border-box;
  }

  .exp {
    padding-right: 20px;
  }

  .cvc input, .exp input {
    width: 100%;
  }

  label {
    display: block;
  }
  .submit {
    margin-top: 30px;
   
    .submit-button {
      width: 100%;
    }
  }

  @media (max-width: $screen-md) {
    .credit-card-on-file {
      margin-top: 20px;
    }   
  }
}