.change-password-section {
  padding-top: 50px;

  h1 {
    margin-bottom: 40px;
  }

  .form-control {
    margin-top: 0;
  }
  label {
    display: block;
  }
  input {
    width: 100%;
    margin-bottom: 20px;
  }

  .submit {
    margin-top: 30px;
   
    .submit-button {
      width: 100%;
    }
  }

}