.data-table {
  width: 100%;

  thead tr td {
    font-weight: bold;
  }
}

.data-table.striped {
  tbody > tr:nth-of-type(even) {
    background-color: #FBFBFB;
  }
  thead+tbody > tr:nth-of-type(odd) {
    background-color: #FBFBFB;
  }
}

.data-table.bordered {
  border: 1px solid #ddd;
}

.data-table td {
  border-top: none !important;
}

.data-table-nav {
  margin: 0 auto;
}