.event-count-section {
  .loading-image {
    height: 31px;
    margin-left: 9px;
  }
  .c3-axis.c3-axis-y .domain {
    fill: none;
  }
  .c3-shapes.c3-circles {
    circle {
      fill: #469AFD !important;
      r: 0 !important;
    }
    circle._expanded_ {
      r: 4 !important;
    }
  }
}