.events-section {
    margin-top: 50px;

    .events-list-section {
      margin-top: 40px;
    }

    .event-doorway-time {
      margin-bottom: 20px;
    }

    .event-item {
      margin-bottom: 80px;
    }
}