.event-count-section {
  .loading-image {
    height: 31px;
    margin-left: 9px;
  }
  .c3-axis.c3-axis-y {
    path {
      stroke: rgba(0, 0, 0, 0) !important;
    }
    .domain {
      fill: none;
    }
    line {
      stroke: rgba(0, 0, 0, 0) !important;
    }
  }
  .c3-axis.c3-axis-x {
    path {
      stroke: rgba(0, 0, 0, 0) !important;
    }
    .tick {
      font-size: 14px;
      font-family: 'Avenir Next', 'Avenir', 'Arial';
    }
  }
  .c3-shapes.c3-circles {
    circle {
      fill: #469AFD !important;
      r: 0 !important;
    }
    circle._expanded_ {
      r: 4 !important;
    }
  }
}