.sidebar {
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 20px;
  background-color: #222A2E;
  color: #fff;
  @include scroll-y();
}

@media (max-width: $screen-md) {
  .sidebar {
    display: none;
  }
}