.space-detail-section {
  margin-top: 50px;

  h1 {
    .breadcrumb {
      color: $gray;
    }
  }

  .details-card {
    font-size: 14px;

    td:first-child {
      text-align: right;
      color: $gray;
    }

    td:nth-child(2) {
      padding: 9px 16px;
    }

    .input {
      font-size: 14px;
      height: inherit;
      padding: 6px 0 6px 6px;
      margin: 0;
      border: 1px solid rgba(0,0,0,0);
      border-radius: 5px;
      width: 100%;
      background-color: inherit;
    }

    .input.editing {
      border: 1px solid $gray-light;
    }

  }

  .current-count-card {
    height: 204px;

    .card-body {
      .count {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
      .reset-to-zero {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -25px;
        font-size: 14px;
        text-decoration: underline;
        color: $brand-primary;
        cursor: pointer;
      }
    }
  }

  .current-count {
    font-size: 98px;
    text-align: center;
    color: $brand-primary;
    font-weight: 600;
  }

  .circle-button {
    width: 58px;
    height: 58px;
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    cursor: pointer;

    i {
      font-weight:bold;
      color: $gray;
      margin-top: 2px;
    }
    i:before {
      font-size: 20px;
    }
  }
  
  .circle-button:active {
    transform: translateY(2px);
  }

  .download-csv-button {
    margin-left: 20px;
  }


  .card-top-header {
    padding: 20px 0;

    .title {
      font-weight: 600;
      font-size: 16px;
    }

    .action {
      float: right;
      text-decoration: underline;
      color: $gray-dark;
      cursor: pointer;
    }

    .save-action {
      color: $brand-primary;
      margin-right: 10px;
    }
  }

  .doorways-section {
    margin-top: 40px;
  }

  .analytics-section {
    margin-top: 40px;
    margin-bottom: 40px;

    .date-picker {
      display: flex;
      margin-bottom: 30px;

      .date-picker-text {
        margin-right: 15px;
        display: inline-block;
        margin-top: 8px;
      }
    }
  }

}
