.spaces-section {
  margin-top: 50px;

  .space-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .space-cell {
    box-sizing: border-box;
    padding: 20px 10px;
    padding-bottom: 60px;
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  .card-body {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 20px;

    .current-count {
      font-size: 44px;
      text-align: center;
      color: $brand-primary;
      font-weight: 600;
    }
  }

  .card-header-title {
    font-size: 14px;
  }
  
  .card-view-details {
    font-size: 14px;
    position: absolute;
    top: 22px;
    right: 20px;
    color: $gray;
    text-decoration: underline;
  }
}


@media (max-width: $screen-sm) {
  .spaces-section .space-cell {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}