.tokens-section {
    margin-top: 50px;

    .fun-stat {
      margin: 40px 0 40px;
    }
    
    .token-card {
      margin-bottom: 20px;
    }

    .token-card .card-body {
      word-break: break-all;
      font-size: 12px;
    }

    .copy-button {
      display: inline-block;
      line-height: 46px;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      position: absolute;
      top: 14px;
      right: 10px;
      text-align: center;
    }
}