@import "density-ui";
@import "icons";
@import "loading";

@import "sidebar";
@import "login";
@import "forgot-password";
@import "change-password";
@import "tokens";
@import "events";
@import "spaces";
@import "space-detail";

// Remove outlines from Chrome
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}


// Overrides
body {
  background-color: #FAFAFA;
}

.hide {
  display: none !important;
}