@import "density-ui";
@import "icons";
@import "loading";

@import "alerts";
@import "animations";
@import "app-bar";
@import "c3";
@import "change-password";
@import "event-count";
@import "events";
@import "forgot-password";
@import "login";
@import "raw-events";
@import "sidebar";
@import "spaces";
@import "space-detail";
@import "toasts";
@import "tokens";
@import "total-visits";


// Blueprint stuff
@import "blueprint-core";
@import "blueprint-datetime";

// Remove outlines from Chrome
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}


// Overrides
body {
  background-color: #FAFAFA;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .mobile-hide {
    display: none !important;
  }
}