.app {
  display: flex;
  flex-direction: column;
}

// Navbar styles.
// On mobile:
// - Navbar is position fixed.
// - Navbar top nav items are hidden.
// - App container has a margin-top of the navbar height, so that the content isn't behind the top
//   nav.
// - Sidebar has a margin-bottom of 0 to eliminate bottom spacing in the navbar.
// - Subnav is hidden.
// On desktop:
// - Top nav items are shown.
// - Navbar is statically positioned.
// - Sidebar menu in the navbar is hidden.
.app .subnav {
  // Hide the subnav on mobile...
  @media (max-width: $screen-xs-max) {
    display: none;
  }

  // ...Unless it's always visible
  &.subnav-visible { display: block; }
}
