.app {
  color: $text-color;
  background-color: #F0F0F2;
  min-height: 100vh;
}

// Navbar styles.
// On mobile:
// - Navbar is position fixed.
// - Navbar top nav items are hidden.
// - App container has a margin-top of the navbar height, so that the content isn't behind the top
//   nav.
// - Sidebar has a margin-bottom of 0 to eliminate bottom spacing in the navbar.
// - Subnav is hidden.
// On desktop:
// - Top nav items are shown.
// - Navbar is statically positioned.
// - Sidebar menu in the navbar is hidden.
.app .navbar {
  .navbar-sidebar { margin-bottom: 0px; }
  .navbar-sidebar-button { display: none; }

  // Hide the top nav on mobile.
  @media (max-width: $screen-xs-max) {
    position: fixed;
    top: 0px;

    .navbar-items > li {
      display: none;
    }
    .navbar-sidebar-button { display: inline-block; }
  }
}
.app .subnav {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.app {
  @media (max-width: $screen-xs-max) {
    margin-top: $navbar-height;
  }
}
// The sidebar button rendered in the nav by the navbar component. Only visible on mobile.
.navbar-sidebar-button {
  @include make-navbar-item;
  background-color: transparent;
  border-width: 0px;
  float: left;
  outline: none;

  user-select: none;
  margin-left: 0px;
  margin-right: 10px;
  font-size: 0;

  &:before {
    content: '\e924';

    font-family: "Densicons";
    cursor: pointer;
    font-size: $font-size-base;
    &:hover { opacity: 0.8; }
    &:active { opacity: 1; }
  }
}

// Icon that is used in the side navbar.
.app-api-docs-icon {
  font-family: "Densicons";
  position: relative;
  top: 2px;
  left: 10px;
}



// The logout icon in the navbar.
.navbar-item-logout {
  @include make-navbar-item;
  float: right;
  user-select: none;
  margin-right: 10px;

  // The link within the item.
  & > a {
    font-family: "Densicons";
    cursor: pointer;
    font-size: $font-size-base;
    &:hover { opacity: 0.8; }
    &:active { opacity: 1; }
  }
}





@mixin make-navbar-sidebar-hidden {
  max-width: 0px;

  & > li {
    display: none;
  }
}

@mixin make-navbar-sidebar-visible($width: 350px, $background-color: #fff) {
  max-width: $width;
  width: 100%;
  background-color: $background-color;
  list-style-type: none;

  z-index: $navbar-sidebar-zindex;

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-right: 1px solid $gray-dark;

  padding-left: 20px;

  & > li {
    display: block;
  }
}

@mixin make-navbar-sidebar-item(
  $color: $gray,
  $font-size: $font-size-base,
  $font-weight: $font-weight-base,
  $pad-left: 0px
) {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: $pad-left;

  & > a {
    color: $color;
    text-decoration: none;

    font-family: $font-base;
    font-size: $font-size;
    font-weight: $font-weight;
  }
}

.navbar-sidebar { @include make-navbar-sidebar-hidden; }
.navbar-sidebar.visible { @include make-navbar-sidebar-visible; }

.navbar-sidebar-item { @include make-navbar-sidebar-item($pad-left: 10px); }
.navbar-sidebar-item-active {
  @include make-navbar-sidebar-item($pad-left: 10px, $color: $brand-primary, $font-weight: bold);
}

.navbar-sidebar-item-header {
  @include make-navbar-sidebar-item;
}
.navbar-sidebar-item-header-active {
  @include make-navbar-sidebar-item($color: $brand-primary);
}
