.insights-space-detail-foot-traffic-card-header {
  display: flex;
  overflow: visible !important; /* ensure that date picker can escape header bounds */
}
.insights-space-detail-foot-traffic-card-header-label {
  line-height: 33px;
  margin-top: 10px;
}
.insights-space-detail-foot-traffic-card-date-picker { margin-left: auto; }

.insights-space-detail-foot-traffic-card-popup-p {
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

// The 24 hour chart is a fixed width and is scrolalble within the card.
.card .insights-space-detail-foot-traffic-card-body {
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  & > div { width: 978px; }
}



// The well is the darker section in the card that is darker than the surroundings. It has a number
// of sections that are line seperated that each contain a numberic value and a label below.
.insights-space-detail-foot-traffic-card-well {
  display: flex;

  // On mobile, stack items vertically.
  flex-direction: column;

  // On a computer, stack horizontally.
  @media (min-width: $screen-xs-max) {
    flex-direction: row;
    height: 150px;
  }

  background-color: $gray-cinder;
}
.insights-space-detail-foot-traffic-card-well-section {
  flex: 1;
  // On mobile, make each item a flex parent so that the order of items can be changed with `order`.
  display: flex;

  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  color: $gray-dark;

  // On a computer, add more spacing above and below each cell. Also, change the display property
  // back to block because the items don't need reordering.
  @media (min-width: $screen-xs-max) {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;

    border-left: 2px solid #4E5457;
  }
}
.insights-space-detail-foot-traffic-card-well-section:first-child { border-left-width: 0px; }

.insights-space-detail-foot-traffic-card-well-section-quantity {
  color: #fff;
  font-size: $font-size-3;
  font-weight: $font-weight-3;

  // On mobile, place the quantity contents before the label.
  order: 2;

  // Space the quantity a bit apart from the section label.
  margin-left: 10px;

  // On a computer, make the quantity big and above the the section label.
  @media (min-width: $screen-xs-max) {
    display: block;
    font-size: $font-size-1;
    font-weight: $font-weight-1;
    margin-left: 0px; // Undo spacing above.
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.insights-space-detail-foot-traffic-card-well-section-label {
  margin-left: 20px;

  // On mobile, place the quantity label after the contents.
  order: 1;

  // Add a colon after the label of the cell.
  &:after { content: ': '; }

  // Remove the colon on desktop
  @media (min-width: $screen-xs-max) {
    margin-left: 0px;
    &:after { content: ''; }
  }
}


// Refresh icon to refetch data
.insights-space-detail-foot-traffic-card-header-refresh {
  display: inline-block;
  transform: translate(0px, 3px);
  margin-left: auto;
  cursor: pointer;
}
.insights-space-detail-foot-traffic-card-header-refresh:hover { opacity: 0.8; }
.insights-space-detail-foot-traffic-card-header-refresh:active { opacity: 1; }
.insights-space-detail-foot-traffic-card-header-refresh.disabled {
  cursor: default;
  pointer-events: none;
}


// Horizontally and vertically center errors and info messages in the 24 hour card.
.insights-space-detail-foot-traffic-card-body-info,
.insights-space-detail-foot-traffic-card-body-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 353px;

  font-size: $font-size-base;
  color: $gray-cinder;
}
// Errors should be prefixed by the error icon
.insights-space-detail-foot-traffic-card-body-error-icon {
  color: $brand-danger;
  font-family: "Densicons";
  margin-right: 10px;
  position: relative;
}

.insights-space-detail-foot-traffic-card-header-label .info-popup-container {
  transform: translate(4px, -1px);
  display: inline-block;
}
