.visualization-space-detail-daily-metrics-card { margin-top: 40px; }

.card .visualization-space-detail-daily-metrics-card-body {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  border-top: 1px solid $gray-light;
  margin-top: 20px;

  // Make the chart horizontally scrolalble below widths of 978px.
  overflow-x: auto;
  & > div { width: 978px; }
}
.visualization-space-detail-daily-metrics-card-body .short-timespan-chart {
  padding-bottom: 20px;
}

// On mobile, break the pickers to a second row. On a computer, put them all in one row.
.visualization-space-detail-daily-metrics-card-header {
  display: block;
  @media (min-width: $screen-xs-max) {
    display: flex;
  }
  overflow: visible !important; /* ensure that date picker can escape header bounds */
}
.visualization-space-detail-daily-metrics-card-header-label {
  line-height: 43px;
}
.visualization-space-detail-daily-metrics-card-metric-picker {
  margin-left: 0px;
  .input-box { color: $gray-cinder; }

  @media (min-width: $screen-xs-max) {
    margin-left: auto;
  }
}
.visualization-space-detail-daily-metrics-card-date-picker {
  margin-top: 10px;
  margin-left: 0px;

  @media (min-width: $screen-xs-max) {
    margin-top: 0px;
    margin-left: 20px;
  }
}


// Horizontally and vertically center errors and info messages in the daily metrics card.
.visualization-space-detail-daily-metrics-card-body-info,
.visualization-space-detail-daily-metrics-card-body-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 355px;

  font-size: $font-size-base;
  color: $gray-cinder;
}
// Errors should be prefixed by the error icon
.visualization-space-detail-daily-metrics-card-body-error-icon {
  color: $brand-danger;
  font-family: "Densicons";
  margin-right: 10px;
  position: relative;
  top: -2px;
}

// Refresh icon to refetch data
.visualization-space-detail-daily-metrics-card-header-refresh:before {
  content: '\e92d';
  font-family: "Densicons";
  margin-left: 10px;
  font-size: $font-size-base;
  color: $brand-primary;
  cursor: pointer;
}
.visualization-space-detail-daily-metrics-card-header-refresh:hover { opacity: 0.8; }
.visualization-space-detail-daily-metrics-card-header-refresh:active { opacity: 1; }
