.environment-doorway-item {
  display: inline-block;
  cursor: move;
  height: (43px - 14px);

  font-size: $font-size-base;

  border: 1px solid $gray-light;
  border-radius: $border-radius-base;

  color: $text-color;
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 14px;
  padding-right: 14px;
  user-select: none;

  margin-bottom: 10px;
  margin-right: 5px;
}
.environment-doorway-item:before {
  font-family: "Densicons";
  content: "\e936";
  margin-right: 10px;

  position: relative;
  top: 2px;
  color: $brand-primary;
}

// Styles the drag source, not the transparent overlay. Can't style that without sme hacks it looks
// like.
.environment-doorway-item-dragging {
  opacity: 0.5;
}

.environment-doorway-item-details {
  display: inline-block;

  position: relative;
  top: 2px;
  margin-left: 16px;
  margin-top: 1px;

  font-family: "Densicons";
  font-size: $font-size-base;
  cursor: pointer;
  user-select: none;
}
.environment-doorway-item-details:active {
  color: $gray-dark;
}
