.environment-doorway-item {
  display: inline-block;
  cursor: move;

  font-size: $font-size-base;

  border: 1px solid $gray-light;
  border-radius: $border-radius-base;

  color: $text-color;
  background-color: #FFF;
  padding: $padding-vertical-small $padding-horizontal-small;
  user-select: none;

  margin-bottom: 10px;
  margin-right: $padding-horizontal-x-small;
}

// Styles the drag source, not the transparent overlay. Can't style that without sme hacks it looks
// like.
.environment-doorway-item-dragging {
  opacity: 0.5;
}

.environment-doorway-item-details {
  transform: rotate(90deg);
  display: inline-block;
  font-size: 24px;
  margin-left: 16px;
  cursor: pointer;
}
.environment-doorway-item-details:active {
  color: $gray-dark;
}
