.visualization-space-detail-raw-events-pager {
  display: flex;
  margin-top: 20px;
}
.visualization-space-detail-raw-events-pager-picker * {
  display: inline-block;
}
.visualization-space-detail-raw-events-pager-picker {
  margin-left: auto;
  margin-right: auto;
}
