.app-frame-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-frame-column-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid $gray-light;

  padding-left: 20px;
  padding-right: 20px;
}
.app-frame-column-header-title {
  color: $gray-cinder;
  font-size: 24px;
  font-weight: bold;
}

.app-frame-column-body {
  flex: 1;
  overflow-y: auto;
}
