.include-weekends-switch {
  display: flex;
  flex-direction: row;
  line-height: 43px;
}
.include-weekends-switch-label { margin-right: 10px; }
.include-weekends-switch-switch { transform: translate(0px, 4px); }
