.include-weekends-switch {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 43px;
  white-space: nowrap;
}
.include-weekends-switch-label { margin-right: 10px; }
.include-weekends-switch-switch {
  transform: translate(0px, 4px);
}
