.sensor-status-online {
  color: green;
}

.sensor-status-error {
  color: red;
}

.sensors-list {
  overflow-y: auto;
}

// Header for the sensor list view.
.sensors-list-header {
  color: $gray-darkest;
  font-size: $font-size-base;
  font-weight: normal;

  margin-left: 10px;
  margin-right: 10px;

  padding-top: 40px;
  padding-bottom: 20px;

  width: calc(100% - 20px);

  @media (min-width: $screen-xs-max) {
    display: flex;
    flex-direction: row;
  }
}

.sensors-list-container {
  @include grid-container;
  margin-top: 2px;
}
.sensors-list-container {
	thead td {
		font-weight: bold;
	}
	td {
		padding: 10px;
		font-size: 12px;
	}
	.spaceItem {
		display: block;
	}
}