.account {
  @include grid-container;
  max-width: 600px;
}

.account-edit-button {
  float: right;
}

.account input:disabled {
  background-color: $gray-light;
}

.account-organization {
  float: right;
}

.account-change-password-value {
  cursor: pointer;
  text-decoration: underline;
  float: right;
}
