.account-container {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  height: 100%;
}
.account {
  max-width: 620px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
// Position the account card below the navbar. I would have used margin here, but the error bar
// somehow is spaced with margin there too?
.account-card {
  position: relative;
  top: 40px;
  margin-bottom: 40px;
}

.account-edit-button {
  float: right;
  font-weight: normal;
}

// Change color of all text in text fields
.account-full-name-container input,
.account-nickname-container input,
.account-email-container input,
.account-organization-container input {
  color: $gray-darkest;
}

.account-change-password-value {
  cursor: pointer;
  text-decoration: underline;
  float: right;

  color: $brand-primary;
}

// Full name / Nickname fields
.account-name-container {
  display: block;

  // On larger screens, full name / nickname should be side-by-side.
  @media (min-width: $screen-xs-max) { display: flex; }
}
.account-name-container .account-full-name-container {
  flex: 1;
  margin-right: 5px;
  // On larger screens, full name / nickname should have a set height to make sure that when side by
  // side one isn't taller.
  @media (min-width: $screen-xs-max) { max-height: 70px; }
}
.account-name-container .account-nickname-container:last-of-type {
  flex: 1;
  margin-left: 5px;
  margin-bottom: 40px;

  // On larger screens, full name / nickname should have a set height to make sure that when side by
  // side one isn't taller.
  @media (min-width: $screen-xs-max) { max-height: 70px; }
}

// The password reset form.
.account-change-password-form-header {
  margin-bottom: 10px;
}

.account-change-password-form-container {
  display: flex;
  flex-direction: column;
}
.account-change-password-form-container input {
  flex: 1;
  margin-bottom: 40px;
}


.account-password-reset-icon {
  font-family: Densicons;
  font-size: 18px;
}

.account-password-reset-toast {
  margin-top: 70px;
}
@media (min-width: $screen-xs-max) {
  .account-password-reset-toast {
    margin-top: 0px;

    position: absolute;
    z-index: 1000;
    top: 120px;

    max-width: 420px;
    left: calc(50% - 210px);
  }
}

.account-consent-container {
  margin-bottom: 40px;
}

.account-consent {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.account-checkbox {
  margin-right: 8px;
}

.account-deactivate-container {
  display: flex;
  justify-content: center;
  font-size: smaller;
}

