// Render a container to put the loading spinner inside.
// Center the spinner within the container.
.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 400px;
  height: 100%;
}
.loading-spinner {
  width: 75px;
  height: 61px;
}
