.space-card {
  margin-bottom: 20px;
}
.card .space-card-header {
  color: $gray-cinder;
  font-size: $font-size-3;
  font-weight: normal;
  display: flex;
  padding-top: 20px;
  padding-bottom: 0px;
}

.space-card-header-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.space-card-header-count {
  margin-left: auto;
  color: $brand-primary;
}

.space-card-capacity-information {
  display: flex;
  margin-bottom: 10px;
}

// Add a capacity unit after the capacity number indicator above the progress bar.
.space-card-utilization-percentage { color: $gray; }
.space-card-utilization-percentage-label { color: $gray-cinder; }
.space-card-utilization-percentage-label > span { color: $brand-primary; }

// Add a capacity percent unit after the percentage indicator directly above and right from the
// progress bar.
.space-card-edit-count-link {
  margin-left: auto;
  color: $gray;
  text-decoration: underline;
  cursor: pointer;
}

// Render a progress bar.
.space-card-capacity-linear-progress {

  // Move the progress bar up to properly space it vertically.
  position: relative;
  top: -8px;

  .progress-container, .progress-bar { height: 2px; }
  .progress-container { fill: $gray-lighter; }
  .progress-bar { fill: $brand-primary; }

  // The height of the progress bar should be `2px`.
  .linear-progress-chart { height: 2px; }
}


// Remove the border radius on the top of the ingress egress chart
.space-card .ingress-egress-card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.space-card-chart { position: relative; }

// Add a button to redirect the user to the live, full-screen detail view for the space.
.space-card-chart-full-screen {
  position: absolute;
  top: 13px;
  left: 14px;

  color: $gray-darkest;
  z-index: 50;
  cursor: pointer;

  font-family: "Densicons";

  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  &:hover {
    color: $gray-darker;
  }
}

.space-card-header-name-link-label {
  font-family: $font-base;
  font-size: $font-size-base;
  margin-right: 5px;
}
