.input-stack-item-input {
  width: calc(100% - 42px);
  height: 28px;
  padding: 20px;
  border-radius: 5px;
  background: transparent;
  border: none;
  outline: none;
}

.input-stack-item-container {
  z-index: 1;
  width: calc(100% - 2px);
  position: relative;
  margin-top: -1px;
  margin-bottom: 0px;
  border: 1px solid #CBCFD6;
  background-color: #FFFFFF;
}

.input-stack-item-container::before {
  z-index: 2;
  position: absolute;
  display: block;
  content: ' ';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #CBCFD6;
  right: 30px;
  top: 29px;
  box-shadow: 0px 0px 5px 13px rgba(255,255,255,1);
}

// TODO: stupid firefox
input {
  box-shadow: none;
}

// TODO: remove this once integrated with Density UI
.input-stack-item-container::after {
  display: none !important;
}

.input-stack-item-container.input-stack-item-valid::before {
  background-color: $brand-primary;
}

.input-stack-item-container.input-stack-item-error::before {
  background-color: $brand-danger;
}

.input-stack-item-container.input-stack-item-pending-valid {
  z-index: 2;
  border-color: $brand-primary;
}

.input-stack-item-container.input-stack-item-pending-error {
  z-index: 2;
  border-color: $brand-danger;
}

.input-stack-item-container:first-child {
  border-radius: 5px 5px 0px 0px;
  margin-top: 0px;
}

.input-stack-item-container:last-child {
  border-radius: 0px 0px 5px 5px;
}
