.webhook-container {
  @include grid-container;
  margin: 30px auto;
  position: relative;
}

.webhook-list-header {
  margin-top: 40px;
  @media (min-width: $screen-xs-max) {
    display: flex;
  }
}
// The "webhook" header at the top of the page.
.webhook-list-header-text {
  display: inline-block;

  color: $gray-darkest;
  font-size: $font-size-2;
  font-weight: $font-weight-2;

  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.webhook-list-description-link {
  margin-top: 10px;
  display: block;
}

.webhook-list-search {
  // When the webhook list is shown on mobile, the search box is on a new line.
  margin-left: 10px;
  margin-top: 20px;
  @media (min-width: $screen-xs-max) {
    margin-left: auto;
    margin-top: 0px;
  }
}
.webhook-list-search input {
  width: 200px;
  margin-right: 10px;
}

.webhook-list {
  @include grid-row;
}

.webhook-list-item {
  @include grid-width(24, 12, 12, 12);
  margin-top: 40px;
}

// The loading indicator's container. Make sure it is full width.
.webhook-list-loading {
  width: 100%;
}

.webhook-container .fab {
  line-height: 60px;
  position: absolute;
  right: 16px;
  top: 50px;
}
