.webhook {
  overflow-y: auto;
}

.webhook-container {
  @include grid-container;
  margin: 30px auto;
  position: relative;
}

.webhook-list-header {
  margin-top: 80px;

  // On a computer:
  // 1. Decrease the padding along the top edge.
  // 2. Make the header container full width on a computer so that the search box moves all the way
  // to the right.
  @media (min-width: $screen-xs-max) {
    margin-top: 40px; /* 1 */
    display: flex; /* 2 */
  }
}
.webhook-list-header-title { display: flex; }

// The "webhook" header at the top of the page.
.webhook-list-header-text {
  display: inline-block;

  color: $gray-darkest;
  font-size: $font-size-2;
  font-weight: $font-weight-2;

  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.webhook-list-description-link {
  margin-top: 10px;
  display: block;
}

.webhook-list-search {
  // When the webhook list is shown on mobile, the search box is on a new line.
  margin-left: 10px;
  margin-top: 20px;
  @media (min-width: $screen-xs-max) {
    margin-left: auto;
    margin-top: 0px;
  }
}
.webhook-list-search input {
  width: 200px;
  margin-right: 10px;
  margin-top: 70px;

  margin-top: 0px; // On mobile
}

.webhook-list {
  @include grid-row;
}

.webhook-list-item {
  @include grid-width(24, 12, 12, 12);
  margin-top: 20px;
}

// The loading indicator's container. Make sure it is full width.
.webhook-list-loading {
  width: 100%;
}

// Link used to create a new webhook.
.webhook-list-create-webhook-link {
  cursor: pointer;
  user-select: none;
  color: $gray-cinder;

  margin-top: 20px;

  &:before {
    color: $brand-primary;

    font-family: 'Densicons';
    content: "\e92c";

    margin-right: 8px;
    margin-left: 10px;
  }

  &:hover { opacity: 0.8; }
  &:active { opacity: 1; }
}
