.insights-space-trends-time-segment-box {
  width: 250px;
}

.insights-space-trends-container {
  padding-bottom: 200px;
  width: calc(100% - 18px - 18px);
  padding-left: 18px;
  padding-right: 18px;
}
.insights-space-trends {
  max-width: 980px;
  margin: 0px auto;
}

.insights-space-trends-item {
  margin-bottom: 40px;
}

.insights-space-trends-include-weekends-info .info-popup-icon {
  padding-right: 20px;
}

.insights-space-trends-include-weekends-info .info-popup-icon svg {
  transform: translate(10px, 1px) scale(1.5);
}
