.account-registration-card-container {
  padding-left: 20px;
  padding-right: 20px;
}

.account-registration-card {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.account-registration-density-logo {
  width: 100px;
  margin: 0px auto;
  padding-bottom: 20px;
  padding-top: 20px;
  display: block;
}

.account-registration-group {
  margin-bottom: 10px;
  label {
    display: inline-block;
    padding-right: 20px;
  }
  input {
    display: inline-block;
  }
}

// The header that is above each input box
.account-registration-header {
  display: block;
  font-size: $font-size-5;
  color: $gray-cinder;

  margin-top: 20px;
  margin-bottom: 5px;
}
.account-registration-header-required {
  color: $brand-primary;
  margin-left: 3px;
}

// Make each input full width within the card.
.account-registration-input {
  width: calc(100% - 14px - 1px - 1px); /* 14px of left margin - 2px in horizontal borders */
}
