.account-registration-container {
  @include grid-container;
  font-family: $font-base;
}

// The opening message to the registration screen.
.account-registration-lead-in {
  text-align: center;
  font-size: $font-size-3;

  margin-bottom: 20px;

  // On desktop, center align a div a bit wider than the container.
  @media (min-width: $screen-xs-max) {
    width: 150%;
    margin-left: -25%;
    margin-bottom: 40px;
  }
}
.account-registration-lead-in-email { color: $gray-cinder; }

.account-registration {
  @include grid-width(24, 12, 8, 8);
  margin-left: auto;
  margin-right: auto;
}

.account-registration-density-logo {
  width: 100px;
  margin: 20px auto;
  padding-bottom: 40px;
  padding-top: 40px;
  display: block;
}

// The second part of the form. Provide some spacing between it and the first part.
.account-registration-password-form { margin-top: 20px; }

// NOTE: The below isn't great. Seems the widths won't work out here?
.account-registration .input-stack-group {
  width: calc(100% - 22px);
}

.account-registration-group {
  margin-bottom: 10px;
  label {
    display: inline-block;
    padding-right: 20px;
  }
  input {
    display: inline-block;
  }
}
