.account-registration-card-container {
  padding-left: 20px;
  padding-right: 20px;
}

.account-registration-card {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.account-registration-density-logo {
  width: 100px;
  margin: 0px auto;
  padding-bottom: 20px;
  padding-top: 20px;
  display: block;
}

// The second part of the form. Provide some spacing between it and the first part.
.account-registration-password-form { margin-top: 20px; }

// NOTE: The below isn't great. Seems the widths won't work out here?
.account-registration .input-stack-group {
  width: calc(100% - 22px);
}

.account-registration-group {
  margin-bottom: 10px;
  label {
    display: inline-block;
    padding-right: 20px;
  }
  input {
    display: inline-block;
  }
}
