.insights-space-daily-time-segment-box {
  width: 250px;
}

.insights-space-daily-container {
  padding-bottom: 20px;
  width: calc(100% - 18px - 18px);
  padding-left: 18px;
  padding-right: 18px;
}
.insights-space-daily {
  max-width: 980px;
  margin: 0px auto;
}

.insights-space-daily-item {
  margin-bottom: 40px;
}
