.visualization-space-detail-space-update-modal-reset-count {
  font-size: $font-size-base;
  font-weight: $font-weight-base;

  color: $brand-primary;
  text-decoration: underline;
  cursor: pointer;

  margin-left: 10px;
}

.visualization-space-detail-space-update-modal-count-picker {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.visualization-space-detail-space-update-modal-count-picker-label {
  line-height: 64px;

  // Make the container fixed width, ince the font has variable-width characters. Then, center the
  // text inside of the container.
  max-width: 175px;
  width: 100%;
  text-align: center;
}
.visualization-space-detail-space-update-modal-count-picker-label input {
  color: $brand-primary;
  font-size: $font-size-1;
  font-weight: $font-weight-1;
  font-family: $font-base;

  border: 0px;
  outline: none;
  text-align: center;
  width: 90%;
  position: relative;
  bottom: -2px;
  margin-left: 5%;
  margin-right: 5%;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.visualization-space-detail-space-update-modal-count-button {
  width: 54px;
  height: 54px;
  font-size: $font-size-2;
  border-radius: 50%;

  outline: none;

  color: $gray;
  background-color: #fff;
  border: 1px solid $gray;
  cursor: pointer;
}
.visualization-space-detail-space-update-modal-count-button.subtract { margin-left: auto; }
.visualization-space-detail-space-update-modal-count-button.add { margin-right: auto; }
.visualization-space-detail-space-update-modal-count-button:hover { opacity: 0.8; }
.visualization-space-detail-space-update-modal-count-button:active { opacity: 1; }
.visualization-space-detail-space-update-modal-count-button:disabled {
  opacity: 0.5;
  cursor: default;
}
