.explore-space-data-export-time-segment-box {
  width: 250px;
}

.explore-space-data-export-container {
  padding-bottom: 20px;
  width: calc(100% - 18px - 18px);
  padding-left: 18px;
  padding-right: 18px;
}
.explore-space-data-export {
  max-width: 980px;
  margin: 0px auto;
}

.explore-space-data-export-item {
  margin-bottom: 40px;
}
