// The bar wrapper that makes it full width and the bar itself.
.visualization-space-detail-real-time-bar-container {
  background-color: $gray-lightest;
  font-size: $font-size-base;
  line-height: 43px;
}
.visualization-space-detail-real-time-bar {
  @include grid-container;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}

// The live count label, ie `Live count: 10 people`
.visualization-space-detail-real-time-bar-count-label {
  color: $brand-primary;
  font-weight: 500;
}
.visualization-space-detail-real-time-bar-count-label:before {
  content: 'Live Count: ';
  color: $gray-cinder;
  font-weight: normal;
}
.visualization-space-detail-real-time-bar-count-label:after {
  content: ' People';
  color: $brand-primary;
}
.visualization-space-detail-real-time-bar-count-label.singular:after { content: ' Person'; }

// Link used to open count update modal.
.visualization-space-detail-real-time-bar-count-update {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}

// The live capacity indicator for the space, ie, `Capacity: 2% Full`
.visualization-space-detail-real-time-bar-capacity {
  margin-left: auto;
  display: none;

  // On a computer, make the thing visible.
  @media (min-width: $screen-xs-max) {
    display: block;
  }
}

.visualization-space-detail-real-time-bar-capacity {
  color: $brand-primary;
}
.visualization-space-detail-real-time-bar-capacity:before {
  content: 'Capacity: ';
  color: $gray-cinder;
  font-weight: normal;
}
.visualization-space-detail-real-time-bar-capacity:after {
  content: '% Full';
  color: $brand-primary;
}
