.app-bar {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 80px;
  padding: 0 24px;
  border-bottom: 1px solid $gray-light;
}

.app-bar-title {
  font-size: 20px;
  font-weight: bold;
}
