// The header above the image uploader. This contains the label for the image uploader as well as an
// edit button to change its contents when full.
.account-setup-doorway-detail-image-upload-header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: $gray-cinder;
}
.account-setup-doorway-detail-image-upload-header-label {
  font-weight: bold;
}
.account-setup-doorway-detail-image-upload-header-edit {
  color: $brand-primary;
  text-decoration: underline;
  cursor: pointer;

  margin-left: auto;
  font-size: $font-size-base;
}
.account-setup-doorway-detail-image-upload-header-edit:hover { opacity: 0.8; }
.account-setup-doorway-detail-image-upload-header-edit:active { opacity: 1; }

// The main container for the image uploader.
.account-setup-doorway-detail-image-upload {
  background-color: $gray-lightest;

  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 200px;
  overflow-y: hidden;

  border: 2px dotted $gray-lighter;
  border-radius: 4px;

  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all ease-in-out 500ms;
}

// The image uploader is powered by an input[type=form], but we don't want that to be visible.
.account-setup-doorway-detail-form-element { display: none; }

// The first visible flex child (in the empty state) in the main container is a status icon.
.account-setup-doorway-detail-image-upload-icon {
  font-family: 'Densicons';
  font-size: 18px;
  margin-bottom: 20px;
  color: $gray;

  // Add spacing above the first item in the container.
  padding-top: 75px;
}
// When the user has uploaded an image, render the icon in a different color.
.account-setup-doorway-detail-image-upload-icon.uploaded { color: $gray-cinder; }

// The second visible flex child (in the empty state) is a upload link.
.account-setup-doorway-detail-image-upload-link {
  color: $brand-primary;
  font-size: $font-size-5;
  text-decoration: underline;
}

// Once the user has uploaded an image, show it in the preview box.
.account-setup-doorway-detail-image-upload-preview {
  border-radius: 4px;
  width: 100%;
  height: auto;
}

// Change the opacity of the upload link and upload icon on hover and on active. This is hte same
// effect we do all over the application.
.account-setup-doorway-detail-image-upload:hover .account-setup-doorway-detail-image-upload-icon,
.account-setup-doorway-detail-image-upload:hover .account-setup-doorway-detail-image-upload-link {
  opacity: 0.8;
}
.account-setup-doorway-detail-image-upload:active .account-setup-doorway-detail-image-upload-icon,
.account-setup-doorway-detail-image-upload:active .account-setup-doorway-detail-image-upload-link {
  opacity: 1;
}
