.sortable-grid-header {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
}

.sortable-grid-header-item {
  flex: 1; /* Default value, overriden in the component with the `width` prop */

  font-weight: bold;
  color: $gray-cinder;
  user-select: none;
}

.sortable-grid-header-item-label { cursor: pointer; }

.sortable-grid-header-item-icon {
  display: inline-block;
  position: relative;
  left: 5px;
  top: -1px; /* vertical centering */

  font-family: 'Densicons';
  font-size: $font-size-x-small;
  color: $brand-primary;
}
.sortable-grid-header-item-icon-desc { transform: rotate(180deg); }
