.sortable-grid-header-item {
  font-weight: bold;
  color: $gray-cinder;
  user-select: none;
}

.sortable-grid-header-item-label { cursor: pointer; }

.sortable-grid-header-item-icon {
  display: inline-block;
  position: relative;
  left: 6px;
  top: -1px; /* vertical centering */

  font-family: 'Densicons';
  font-size: $font-size-x-small;
  color: $brand-primary;
}
.sortable-grid-header-item-icon-desc { transform: rotate(180deg); }
