$radio-active-data-uri: "data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA0Ni4yICg0NDQ5NikgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+DQogICAgPGRlZnM+PC9kZWZzPg0KICAgIDxnIGlkPSJEZXYtVG9vbHMiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8ZyBpZD0iZGV2LTAwMS0yLXIxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNDI5LjAwMDAwMCwgLTQyMS4wMDAwMDApIj4NCiAgICAgICAgICAgIDxnIGlkPSJtb2RhbC1jcmVhdGUtc3BhY2UiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQxMC4wMDAwMDAsIDgwLjAwMDAwMCkiPg0KICAgICAgICAgICAgICAgIDxnIGlkPSJlbWFpbC1jb3B5LTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwLjAwMDAwMCwgMzE3LjAwMDAwMCkiPg0KICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iR3JvdXAtMyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDIzLjAwMDAwMCkiPg0KICAgICAgICAgICAgICAgICAgICAgICAgPGcgaWQ9IlNlbGVjdGVkLVJhZGlvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwgMi4wMDAwMDApIj4NCiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlLTMtQ29weS03IiBzdHJva2U9IiM0MTk4RkYiIHg9Ii0wLjUiIHk9Ii0wLjUiIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgcng9IjguNSI+PC9yZWN0Pg0KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGUtMy1Db3B5LTYiIGZpbGw9IiM0MTk4RkYiIHg9IjUiIHk9IjUiIHdpZHRoPSI2IiBoZWlnaHQ9IjYiIHJ4PSIzIj48L3JlY3Q+DQogICAgICAgICAgICAgICAgICAgICAgICA8L2c+DQogICAgICAgICAgICAgICAgICAgIDwvZz4NCiAgICAgICAgICAgICAgICA8L2c+DQogICAgICAgICAgICA8L2c+DQogICAgICAgIDwvZz4NCiAgICA8L2c+DQo8L3N2Zz4=";

$radio-inactive-data-uri: "data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA0Ni4yICg0NDQ5NikgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+DQogICAgPGRlZnM+PC9kZWZzPg0KICAgIDxnIGlkPSJEZXYtVG9vbHMiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8ZyBpZD0iZGV2LTAwMS0yLXIxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTQ1LjAwMDAwMCwgLTQyMS4wMDAwMDApIiBzdHJva2U9IiNFOEU4RUQiPg0KICAgICAgICAgICAgPGcgaWQ9Im1vZGFsLWNyZWF0ZS1zcGFjZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDEwLjAwMDAwMCwgODAuMDAwMDAwKSI+DQogICAgICAgICAgICAgICAgPGcgaWQ9ImVtYWlsLWNvcHktMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjAuMDAwMDAwLCAzMTcuMDAwMDAwKSI+DQogICAgICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cC0zLUNvcHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExNi4wMDAwMDAsIDIzLjAwMDAwMCkiPg0KICAgICAgICAgICAgICAgICAgICAgICAgPGcgaWQ9IlNlbGVjdGVkLVJhZGlvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwgMi4wMDAwMDApIj4NCiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlLTMtQ29weS03IiB4PSItMC41IiB5PSItMC41IiB3aWR0aD0iMTciIGhlaWdodD0iMTciIHJ4PSI4LjUiPjwvcmVjdD4NCiAgICAgICAgICAgICAgICAgICAgICAgIDwvZz4NCiAgICAgICAgICAgICAgICAgICAgPC9nPg0KICAgICAgICAgICAgICAgIDwvZz4NCiAgICAgICAgICAgIDwvZz4NCiAgICAgICAgPC9nPg0KICAgIDwvZz4NCjwvc3ZnPg==";

$radio-pressed-data-uri: "data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA0Ni4yICg0NDQ5NikgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+DQogICAgPGRlZnM+PC9kZWZzPg0KICAgIDxnIGlkPSJEZXYtVG9vbHMiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8ZyBpZD0iZGV2LTAwMS0yLXIxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTQ1LjAwMDAwMCwgLTQyMS4wMDAwMDApIiBzdHJva2U9IiM4RTkyOTkiPg0KICAgICAgICAgICAgPGcgaWQ9Im1vZGFsLWNyZWF0ZS1zcGFjZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDEwLjAwMDAwMCwgODAuMDAwMDAwKSI+DQogICAgICAgICAgICAgICAgPGcgaWQ9ImVtYWlsLWNvcHktMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjAuMDAwMDAwLCAzMTcuMDAwMDAwKSI+DQogICAgICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cC0zLUNvcHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExNi4wMDAwMDAsIDIzLjAwMDAwMCkiPg0KICAgICAgICAgICAgICAgICAgICAgICAgPGcgaWQ9IlNlbGVjdGVkLVJhZGlvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwgMi4wMDAwMDApIj4NCiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlLTMtQ29weS03IiB4PSItMC41IiB5PSItMC41IiB3aWR0aD0iMTciIGhlaWdodD0iMTciIHJ4PSI4LjUiPjwvcmVjdD4NCiAgICAgICAgICAgICAgICAgICAgICAgIDwvZz4NCiAgICAgICAgICAgICAgICAgICAgPC9nPg0KICAgICAgICAgICAgICAgIDwvZz4NCiAgICAgICAgICAgIDwvZz4NCiAgICAgICAgPC9nPg0KICAgIDwvZz4NCjwvc3ZnPg==";

// Radio button group for selecting token type
.token-create-token-type-radio-group {
  display: flex;
  margin-bottom: 20px;
}
.token-create-token-type-radio-item {
  margin-right: 20px;
  user-select: none;
}

// An active radio button should have a darker label than an inactive radio button.
.token-create-token-type-radio-item input[type=radio] + label { color: $gray-darker; }
.token-create-token-type-radio-item input[type=radio]:checked + label { color: $gray-darkest; }

// Hide the actual radio button
.token-create-token-type-radio-item input[type=radio] { display: none; }

// We're taking advantage of the :before on the label to render the radio button with that, using a
// data uri svg as the literal button.
.token-create-token-type-radio-item input[type=radio] + label:before {
  content: ' ';
  display: inline-block;
  background-image: url($radio-inactive-data-uri);

  width: 18px;
  height: 18px;
  margin-right: 10px;

  position: relative;
  bottom: -4px;
}
.token-create-token-type-radio-item input[type=radio]:checked + label:before {
  background-image: url($radio-active-data-uri);
}

// Darken the radio button on hover.
.token-create-token-type-radio-item input[type=radio]:not(:checked) + label:hover:before {
  background-image: url($radio-pressed-data-uri);
  opacity: 0.8;
}

// NOTE: HACK. card-body is acting up.
.token-create .card-body { margin-top: -8px; }

.token-create-description-field {
  resize: none;
  height: 5em;
}


