.explore-space-trends-page {
  overflow-y: auto;
}

.explore-space-trends-time-segment-box {
  width: 350px;
}

.explore-space-trends-container {
  padding-bottom: 200px;
  width: calc(100% - 18px - 18px);
  padding-left: 18px;
  padding-right: 18px;
}
.explore-space-trends {
  max-width: 980px;
  margin: 0px auto;
}

.explore-space-trends-item {
  margin-bottom: 40px;
}
