// Add spacing between each button in the list.
.environment-modal-sensor-placement .button { margin-bottom: 10px; }
.environment-modal-sensor-placement .button:last-child { margin-bottom: 0px; }

// NOTE: HACK. card-body is acting up.
.environment-modal-sensor-placement .card-body {
  margin-top: -8px;
}


// Button group to hold side by side buttons.
.environment-modal-sensor-placement-button-group {
  display: flex;
  margin-top: 40px;
}
.environment-modal-sensor-placement-button-group .button {
  flex: 1;
  &:first-child { margin-right: 10px; }
  &:last-child { margin-left: 10px; }
}

// Color the yes button primary, and the no button gray.
.environment-modal-sensor-placement-button-no {
  background-color: $gray-darkest;
}
.environment-modal-sensor-placement-button-yes {
  background-color: $brand-primary;
}
