.dashboard-app-frame {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;

  overflow: hidden;

  background-color: #fff;
}

.dashboard-app-frame-content {
  flex-grow: 1;
  flex-shrink: 1;
}

.dashboard-app-frame-scroll-body {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 100px;
}
.dashboard-app-frame-scroll-body-spacer {
  height: 150px;
}

.dashboard-sidebar-hide-show-icon {
  cursor: pointer;
  display: block;
}
.dashboard-sidebar-hide-show-icon:hover { opacity: 0.8; }
.dashboard-sidebar-hide-show-icon:active { opacity: 1; }

.dashboard-sidebar-hide-show-icon-wrapper { display: none; }
@media (min-width: $screen-sm-max) {
  .dashboard-sidebar-hide-show-icon-wrapper { display: block; }
}

.dashboard-app-frame-sidebar-list {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}

.dashboard-app-frame-sidebar-list-item {
  display: block;
  text-decoration: none;
  color: $gray-darker;
}


.dashboard-sidebar-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 250ms ease-in-out;

  height: 45px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 32px;
  margin-right: 32px;
  border-bottom: 1px solid $gray;
}
.dashboard-sidebar-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-sidebar-item-name {
  color: $gray-darkest;
  font-size: 16px;
  font-weight: 600;
  margin-right: auto;
}
.dashboard-sidebar-item:hover .dashboard-sidebar-item-name { color: $gray-cinder; }
.dashboard-sidebar-item.selected .dashboard-sidebar-item-name { color: $brand-primary; }

.dashboard-sidebar-item-num-reports {
  color: $gray-darkest;
  font-size: 12px;
  font-weight: bold;
  margin-right: 4px;
}
.dashboard-sidebar-item:hover .dashboard-sidebar-item-num-reports { color: $gray-cinder; }
.dashboard-sidebar-item.selected .dashboard-sidebar-item-num-reports { color: $brand-primary; }

.dashboard-sidebar-item-headers {
  color: $gray-darkest;
  font-size: 14px;
}




.dashboard-wrapper {
  width: 100%;
  max-width: 1440px;

  animation: fadeInUp 0.4s ease-out;
}
.dashboard-wrapper-inner {
  padding-left: 36px;
  padding-right: 36px;
}
.dashboard-header {
  color: $gray-darkest;
  font-size: 22px;
  border-bottom: 2px solid $gray;
  margin-top: 40px;
  padding-bottom: 10px;
}

.dashboard-non-ideal-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 48px;
  padding-left: 32px;

  height: 400px;
  color: $gray-cinder;
}

.dashboard-loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90vh;
  color: $gray-cinder;

}
.dashboard-loading {
  width: 100%;
  max-width: 500px;

  animation: fadeInUp 0.4s ease-out;
}

// animation used for loading states
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.dashboard-page-header-wrapper {
  background-color: #fff;
  height: 64px;

  /* This all has to be here to left align the text with the navbar. Have I mentioned how much I
   * want to write a new one? */
  padding-left: 20px;
  @media (min-width: 768px) { padding-left: 40px; }
  @media (min-width: 1500px) { padding-left: 60px; }
}
.dashboard-page-header {
  margin: 0px auto;
  max-width: 1440px;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-page-header h1 {
  margin: 0px;
  font-size: 24px;
  color: $gray-cinder;
}
