.live-space-list {
  overflow-y: auto;
}

// Header for the space list view. Contians a label and a search box.
.live-space-list-header {
  color: $gray-darkest;
  font-size: $font-size-base;
  font-weight: normal;

  margin-left: 10px;
  margin-right: 10px;

  padding-top: 40px;
  padding-bottom: 20px;

  width: calc(100% - 20px);

  @media (min-width: $screen-xs-max) {
    display: flex;
    flex-direction: row;
  }
}

// Left side of header that contains space hierarchy filter box
.live-space-list-header-hierarchy {
  display: flex;
  flex-direction: row;

  margin-right: 20px;
}

// Right side of header that contains fizzy searching box
.live-space-list-header-filter {
  display: flex;
  flex-direction: row;

  // When the space list is on mobile, the search box is on a new line.
  margin-top: 20px;
  @media (min-width: $screen-xs-max) {
    margin-top: 0px;
    margin-left: auto;
  }
}

.live-space-list-search-box {
  color: $gray-darker;
  &::placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: $gray;
    opacity: 1; // Placeholders in firefox have opacity be default. Undo that.
  }

  width: 100%;
  @media (min-width: $screen-xs-max) {
    width: 200px;
  }
}

// "Live" indicator tag after the page title. This shows the fact that new data will flow in and
// the status of the socket via the colored bubble.
.live-space-list-live-indicator-tag {
  height: 11px;
  white-space: nowrap;

  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;

  transform: translate(20px, 8px);

  font-size: $font-size-x-small;
  font-weight: 500;
  color: #fff;
  background-color: $gray-cinder;
  user-select: none;

  border: 1px solid $gray-cinder;
  border-radius: $border-radius-base;
}

.live-space-list-live-indicator-tag i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: $gray;
  border-radius: 50%;
  margin-left: 6px;
}

.live-space-list-live-indicator-tag i.status-connected { background-color: $brand-success; }
.live-space-list-live-indicator-tag i.status-connecting { background-color: $brand-warning; }
.live-space-list-live-indicator-tag i.status-error { background-color: $brand-danger; }

.live-space-list-container {
  @include grid-container;
  margin-top: 2px;
}
.live-space-list-row { @include grid-row; }
.live-space-list-item { @include grid-width(24, 12, 12, 12); }

// Shown when the space live list is empty
.live-space-list-empty {
  color: $gray-dark;
  font-size: $font-size-3;
  margin-top: 100px;

  width: 100%;
  text-align: center;
}
