// Header for the space list view. Contians a label and a search box.
.live-space-list-header {
  padding-top: 40px;
  @media (min-width: $screen-xs-max) {
    display: flex;
  }
}
.live-space-list-header-text {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  color: $gray-darkest;
  font-size: $font-size-2;
  font-weight: $font-weight-2;
}

.live-space-list-search-box {
  margin-bottom: 20px;
  margin-right: 10px;
  /* margin-left: auto; is below in the @media rule */
  width: 200px;

  color: $gray-darker;
  &::placeholder,
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: $gray;
    opacity: 1; // Placeholders in firefox have opacity be default. Undo that.
  }

  // When the space list is on mobile, the search box is on a new line.
  margin-left: 10px;
  margin-top: 20px;
  @media (min-width: $screen-xs-max) {
    margin-left: auto;
    margin-top: 0px;
  }
}

.live-space-list-live-indicator-row {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
@keyframes live-space-list-live-indicator-breathe {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.live-space-list-live-indicator {
  margin-left: 6px;
  width: 14px;
  height: 14px;
  background-color: $brand-danger;
  border-radius: 50%;

  animation-name: live-space-list-live-indicator-breathe;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.live-space-list-container {
  @include grid-container;
  margin-top: 2px;
}
.live-space-list-row { @include grid-row; }
.live-space-list-item { @include grid-width(24, 12, 12, 12); }
