// This element is the smaller title that's visible above the card. It's roughly centered within the
// card's width.
.account-setup-doorway-list-title {
  color: $gray-cinder;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;

  font-size: $font-size-2;
  font-weight: $font-weight-2;

  display: flex;
}

// The main card, which shows a list of all doorways in the organization.
.account-setup-doorway-list-body-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.account-setup-doorway-list-body {
  margin-left: 20px;
  margin-right: 20px;
}

// The styles for the wrapping ul for all the list items within the card.
.account-detail-doorway-list {
  list-style-type: none;
  padding-left: 0px;
}


// This element forms the parent of each doorway item within the list. It acts as a flex parent
// toward all its children.
.account-setup-doorway-list-item {
  color: $gray-cinder;
  text-decoration: none;

  height: 48px;
  line-height: 48px;

  display: flex;
  flex-direction: row;

  border: 1px solid $gray-light;
  border-radius: 4px;
  margin-bottom: 10px;
}
.account-setup-doorway-list-item-image-container {
  position: relative;
  width: 48px;
  height: 100%;
  margin-right: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}
.account-setup-doorway-list-item-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.account-setup-doorway-list-item-image.portrait { width: 100%; height: auto; }
.account-setup-doorway-list-item-image.landscape { width: auto; height: 100%; }

// The name is the second element in each doorway item.
.account-setup-doorway-list-item-name {
  font-weight: bold;
  width: calc(100% - 160px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Hack: adjust vertical centering of text within cell. */
  position: relative;
  top: 2px;
}
// The doorway status renders a small colored label (formerly this was a blue arrow)
.account-setup-doorway-list-item-status {
  font-size: $font-size-6;
  font-weight: 500;
  margin-left: auto;
  margin-right: 20px;
  height: 48px;
  line-height: 48px;

  /* Hack: adjust vertical centering of text within cell. */
  position: relative;
  top: 2px;
}


// The create doorway button that's visible when an organization has no doorways.
.account-setup-doorway-list-create {
  margin-top: 20px;
  margin-bottom: 20px;

  padding-top: 3px; /* Needed to vertically align the text within the button */
  padding-left: 20px;
  padding-right: 20px;

  text-align: left;
  font-family: $font-base;
  font-weight: normal;
}
.account-setup-doorway-list-create:after {
  content: '\e92c';

  font-family: 'Densicons';
  font-size: $font-size-3;

  float: right;
}

// The add doorway link that's next to the list title that is visible when the organization already
// has doorways.
.account-setup-doorways-list-add-doorway-link {
  cursor: pointer;
  user-select: none;
  color: $gray-cinder;
  margin-top: 3px;

  margin-left: auto;

  font-size: 16px; // FIXME: ugh, a font size that's not one of the presets?
  font-weight: normal;
  white-space: nowrap;

  &:before {
    color: $brand-primary;

    font-family: 'Densicons';
    content: "\e92c";

    margin-right: 8px;
    margin-left: 10px;
  }

  &:hover { opacity: 0.8; }
  &:active { opacity: 1; }
}

// The success toast is dismissable with a little x in the corner. When that little x is pressed, an
// action is dispatched to close the modal.
.account-setup-doorway-list-success-toast-dismiss {
  position: absolute;
  right: 0px;
  font-size: $font-size-3;
  color: $gray;
  cursor: pointer;
}

// Update the body of the success toast to contain a properly colored header and description.
.account-setup-doorway-list-success-toast-header {
  color: $brand-success;
  margin-bottom: 5px;
}
.account-setup-doorway-list-success-toast .toast-body {
  position: relative;
  color: $gray-cinder;
  padding-top: 5px;
  height: 85px;
}

// Lastly, change the icon in the success toast to display a "checkmark" icon
.account-setup-doorway-list-success-toast-icon {
  font-family: 'Densicons';
  font-size: $font-size-3;
  position: relative;
  top: 8px; /* Center the icon vertically */
}
