.login-section {
  margin: 0px auto;

  // Set an explicit width for the login form.
  padding-left: 5px;
  padding-right: 5px;
  @media (min-width: 450px) {
    width: 420px;
    padding-left: 30px;
    padding-right: 30px;
  }

  padding-top: 90px;
}

.login-density-logo {
  width: 44px;
  margin: 20px auto;
  padding-bottom: 60px;
  display: block;
}

// The submit button to the login form
.login-submit-button {
  margin-top: 30px;
  width: 100%;
}

// Wrapper for the login form
.login-form-container {
  text-align: center; // For forgot password link in the login form (goes to forgot password page)
}

.login-forgot-password-link {
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: $brand-primary;
}

// NOTE: The below isn't great. Seems the widths won't work out here?
.login-form, .login-password-reset-form {
  width: calc(100% - 22px);
}

// Show an error when there's an error on the login page.
.login-toast {
  position: absolute;
  top: 20px;
  z-index: 2000;

  // On mobile, the error should be full width (with 5px gutters)
  width: calc(100% - 10px);
  margin-left: 5px;

  // On Desktop, the error should be 420px wide.
  @media (min-width: 450px) {
    width: 420px;
    left: 50%;
    margin-left: -(420px / 2);
  }
}
.login-toast-header {
  color: $brand-danger;
  font-size: $font-size-4;
  font-weight: $font-weight-4;
  margin-bottom: 8px;
  margin-top: 8px;
}
.login-toast-icon {
  font-family: "Densicons";
  font-size: $font-size-3;
}



// Title on the top of the forgot password page
.login-password-reset-title {
  font-size: $font-size-3;
  font-weight: normal;
  margin-bottom: 40px;
}

// Back link to the login page on the forgot password page
.login-forgot-password-back-link {
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: $brand-primary;
}
