$login-section-width: 420px;
.login-section {
  margin: 0px auto;

  // Set an explicit width for the login form.
  padding-left: 5px;
  padding-right: 5px;
  @media (min-width: 450px) {
    width: $login-section-width;
    padding-left: 30px;
    padding-right: 30px;
  }

  padding-top: 40px;
}

.login {
  overflow-y: auto;
}

.login-density-logo {
  width: 100px;
  height: 100px;
  display: block;

  margin: 0px auto;
  padding-bottom: 40px;
}

// The submit button to the login form
.login-submit-button {
  margin-top: 30px;
  width: 100%;
}

// Wrapper for the login form
.login-form-container {
  text-align: center; // For forgot password link in the login form (goes to forgot password page)
}

// Steal the card loading indicator here for the navbar for this one page. 
.login-navbar-loading {
  @include make-card-loading($indeterminate: true);
}

.login-forgot-password-link {
  display: inline-block;
  margin-top: 40px;
  cursor: pointer;
  text-decoration: underline;
  color: $brand-primary;
}

// Show an error when there's an error on the login page.
.login-toast {
  position: absolute;
  top: 61px;
  z-index: 2000;
  width: calc(100% - 10px);
  max-width: $login-section-width;
}
.login-toast-header {
  color: $brand-danger;
  font-size: $font-size-4;
  font-weight: $font-weight-4;
  margin-bottom: 8px;
  margin-top: 8px;
}
.login-toast-icon {
  font-family: "Densicons";
  font-size: $font-size-3;
}



// Title on the top of the forgot password page
.login-password-reset-title {
  font-size: $font-size-3;
  font-weight: normal;
  margin-bottom: 40px;
}

// Back link to the login page on the forgot password page
.login-forgot-password-back-link {
  margin-top: 40px;
  cursor: pointer;
  text-decoration: underline;
  color: $brand-primary;
}
