.login-section {
  margin: 0px auto;

  // Set an explicit width for the login form.
  width: 100%;
  @media (min-width: $screen-sm-min) {
    width: 350px;
  }

  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
}

.login-density-logo {
  width: 44px;
  margin: $padding-vertical-base auto;
  padding-bottom: 60px;
  display: block;
}

.login-error {
  color: $brand-danger;
}

// The submit button to the login form
.login-submit-button {
  margin-top: 30px;
  height: 50px;
  background-color: #222A2E;
  color: #fff;
  box-shadow: none;
  border: none;
  border-radius: 25px;
  width: 100%;
}

.login-form {
  width: calc(100% - 30px);
}
