.login-section {
  margin: 0px auto;

  // Set an explicit width for the login form.
  padding-left: 5px;
  padding-right: 5px;
  @media (min-width: 450px) {
    width: 350px;
    padding-left: 30px;
    padding-right: 30px;
  }

  padding-top: 90px;
}

.login-density-logo {
  width: 44px;
  margin: 20px auto;
  padding-bottom: 60px;
  display: block;
}

.login-error {
  color: $brand-danger;
}

// The submit button to the login form
.login-submit-button {
  margin-top: 30px;
  width: 100%;
}

// Wrapper for the login form
.login-form-container {
  text-align: center; // For forgot password link in the login form (goes to forgot password page)
}

.login-forgot-password-link {
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: $brand-primary;
}

// NOTE: The below isn't great. Seems the widths won't work out here?
.login-form, .login-password-reset-form {
  width: calc(100% - 22px);
}



// Title on the top of the forgot password page
.login-password-reset-title {
  font-size: $font-size-3;
  font-weight: $font-weight-3;
}

// Back link to the login page on the forgot password page
.login-forgot-password-back-link {
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: $brand-primary;
}
