.navbar-sidebar-button-disabled { cursor: pointer; }
.navbar-sidebar-button-disabled:hover { background-color: #FFF; }
.navbar-sidebar-button-disabled:active { background-color: #FFF; }
.navbar-sidebar-button-disabled::before { content: ""; }
