.space-card {
  margin-bottom: 20px;
}
.space-card-header {
  color: $text-color;
  font-size: $font-size-3;
  font-weight: $font-weight-3;
  display: flex;
}
.space-card-header-count {
  margin-left: auto;
}

// The white, top section of thec ard should be clickable.
.space-card-click-region { cursor: pointer; }

// When the user hovers over the entire card white section, underline the card title sicne the card
// is clickable.
.space-card-click-region:hover .space-card-header-name { text-decoration: underline; }

.space-card-capacity-information {
  display: flex;
  margin-bottom: 10px;
}

// Add a capacity unit after the capacity number indicator above the progress bar.
.space-card-capacity-number { color: $gray; }
.space-card-capacity-number:before { content: 'Capacity: '; }
.space-card-capacity-number:empty:before { content: 'Max capacity not specified'; }

// Add a capacity percent unit after the percentage indicator directly above and right from the
// progress bar.
.space-card-capacity-percent { margin-left: auto; }
.space-card-capacity-percent:after { content: '% Full'; }
.space-card-capacity-percent { color: $brand-primary; }
.space-card-capacity-percent:empty { color: $gray; }

// Render a progress bar.
.space-card-capacity-linear-progress {
  width: 100%;
  height: 2px;
  .progress-container, .progress-bar { height: 2px; }
  .progress-container { fill: $gray-lighter; }
  .progress-bar { fill: $brand-primary; }
}

// Ingress Egress chart
// Styles modified from the stock styles:
// - border / border radius removed
// - font weight decreased
.space-card-chart {
  .ingress-egress-card {
    height: 162px;
    position: relative;
    border-radius: 0px;
    border: 0px;
    background-color: #222A2E;
  }

  .ingress-egress-card-legend {
    position: absolute;
    top: 1.4em;
    right: 1em;
    font-size: 0.85em;
    font-weight: 400;

    .rect {
      display: inline-block;
      margin-left: 1em;
      margin-right: 0.8em;

      &.rect-in {
        background-color: #4198FF;
      }
      &.rect-out {
        background-color: #8e9299;
      }
    }
  }

  .ingress-egress-card-labels {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 1em;
    margin-right: 1em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;

    li {
      flex: 1;
      text-align: center;
      font-weight: 400;
      font-size: 0.85em;
      color: #FFF;
    }
  }

  .ingress-egress-data {
    .mid-line {
      stroke-width: 1;
      stroke: #4A5159;
    }

    .count-marker {
      &.count-marker-in {
        fill: #4198FF;
      }
      &.count-marker-out {
        fill: #8e9299;
      }
    }
  }
}
