.space-card {
  margin-bottom: 20px;
}
.space-card-header {
  color: $text-color;
  font-size: $font-size-3;
  font-weight: $font-weight-3;
  display: flex;
}
.space-card-header-count {
  margin-left: auto;
}

// The white, top section of thec ard should be clickable.
.space-card-click-region { cursor: pointer; }

// When the user hovers over the entire card white section, underline the card title sicne the card
// is clickable.
.space-card-click-region:hover .space-card-header-name { text-decoration: underline; }

.space-card-capacity-information {
  display: flex;
  margin-bottom: 10px;
}

// Add a capacity unit after the capacity number indicator above the progress bar.
.space-card-capacity-number { color: $gray; }
.space-card-capacity-number:before { content: 'Capacity: '; }
.space-card-capacity-number:empty:before { content: 'Max capacity not specified'; }

// Add a capacity percent unit after the percentage indicator directly above and right from the
// progress bar.
.space-card-capacity-percent { margin-left: auto; }
.space-card-capacity-percent:after { content: '% Full'; }
.space-card-capacity-percent { color: $brand-primary; }
.space-card-capacity-percent:empty { color: $gray; }

// Render a progress bar.
.space-card-capacity-linear-progress {

  // Move the progress bar up to properly space it vertically.
  position: relative;
  top: -8px;

  .progress-container, .progress-bar { height: 2px; }
  .progress-container { fill: $gray-lighter; }
  .progress-bar { fill: $brand-primary; }

  // The height of the progress bar should be `2px`.
  .linear-progress-chart { height: 2px; }
}


// Remove the border radius on the top of the ingress egress chart
.space-card .ingress-egress-card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
