.insights-space-detail-raw-events-card-header-label {
  line-height: 33px;
  margin-top: 10px;
}

.insights-space-detail-raw-events-card-popup-p {
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.insights-space-detail-raw-events-card-body-placeholder {
  height: 500px;
}

// Add spacing to the top of the card. Also, specify a minimum height so we never cut off the edge
// of the date picker.
.insights-space-detail-raw-events-card {
  margin-top: 40px;
  min-height: 421px;
}

// Horizontally and vertically center errors and info messages in the daily metrics card.
.insights-space-detail-raw-events-card-body-info,
.insights-space-detail-raw-events-card-body-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 355px;

  font-size: $font-size-base;
  color: $gray-cinder;
}
// Errors should be prefixed by the error icon
.insights-space-detail-raw-events-card-body-error-icon {
  color: $brand-danger;
  font-family: "Densicons";
  margin-right: 10px;
  position: relative;
  top: -2px;
}

// Refresh icon to refetch data
.insights-space-detail-raw-events-card-header-refresh {
  display: inline-block;
  transform: translate(0px, 3px);
  margin-left: auto;
  cursor: pointer;
}
.insights-space-detail-raw-events-card-header-refresh:hover { opacity: 0.8; }
.insights-space-detail-raw-events-card-header-refresh:active { opacity: 1; }
.insights-space-detail-raw-events-card-header-refresh.disabled {
  cursor: default;
  pointer-events: none;
}

.insights-space-detail-raw-events-card-header-label .info-popup-container {
  margin-left: 4px;
}
