.insights-space-detail-raw-event-card-header {
  display: flex;

  // On mobile, orient the header vertically.
  flex-direction: column;
  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
}
.insights-space-detail-raw-events-card-header-label {
  line-height: 33px;
  margin-top: 10px;
}

.insights-space-detail-raw-events-card-body-placeholder {
  height: 500px;
}

// Add spacing to the top of the card. Also, specify a minimum height so we never cut off the edge
// of the date picker.
.insights-space-detail-raw-events-card {
  margin-top: 40px;
  min-height: 421px;
}

// On mobile, allow the event table to be horizontally scrollable.
.insights-space-detail-raw-events-card-table { overflow-y: auto; }
.insights-space-detail-raw-events-card-table-row {
  display: flex;
  list-style-type: none;
  padding-top: 13px !important;
  padding-bottom: 13px !important;

  font-size: $font-size-base;
  color: $gray-cinder;
  border-top: 1px solid $gray-light;

  // The max width caps the row width, making the table row scrollable on mobile.
  min-width: 800px;
}

.insights-space-detail-raw-events-card-table-row li { flex: 1; }

.insights-space-detail-raw-events-card-table-row.header {
  font-weight: bold;
  margin-top: 20px;
}


// CSV Download link to the left of the date range selector.
.insights-space-detail-raw-events-card-csv-download {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  user-select: none;

  line-height: 43px;
  font-size: $font-size-base;
  font-weight: $font-weight-base;

  color: $brand-primary;
  text-decoration: underline;
  cursor: pointer;

  // On mobile, add spacing above and below the csv download link
  margin-top: 10px;
  margin-bottom: 10px;

  // On desktop, remove the vertical spacing but right align the csv download button.
  @media (min-width: $screen-sm-min) {
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
// When the download link is disabled, gray it out.
.insights-space-detail-raw-events-card-csv-download.disabled {
  cursor: default;
  color: $gray-light;
}

// Horizontally and vertically center errors and info messages in the daily metrics card.
.insights-space-detail-raw-events-card-body-info,
.insights-space-detail-raw-events-card-body-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 355px;

  font-size: $font-size-base;
  color: $gray-cinder;
}
// Errors should be prefixed by the error icon
.insights-space-detail-raw-events-card-body-error-icon {
  color: $brand-danger;
  font-family: "Densicons";
  margin-right: 10px;
  position: relative;
  top: -2px;
}

// Refresh icon to refetch data
.insights-space-detail-raw-events-card-header-refresh {
  display: inline-block;
  transform: translate(0px, 12px);
  margin-left: auto;
  cursor: pointer;
}
.insights-space-detail-raw-events-card-header-refresh:hover { opacity: 0.8; }
.insights-space-detail-raw-events-card-header-refresh:active { opacity: 1; }
.insights-space-detail-raw-events-card-header-refresh.disabled {
  cursor: default;
  pointer-events: none;
}
