.visualization-space-detail-container {
  @include grid-container;
}

.visualization-space-detail-card {
  margin-top: 40px;
}


// The header for the page
.visualization-space-detail-header-container {
  margin-top: 20px;
  margin-bottom: 0px;
}
.visualization-space-detail-header {
  display: flex;
  flex-direction: column;

  // On a computer, use flex-direction row so the items sprawl horizontally.
  @media (min-width: $screen-xs-max) {
    flex-direction: row;
  }
}

// "Spaces /" prefix on the page header label.
.visualization-space-detail-header-back-section {
  color: $gray-dark;
  text-decoration: none;
  font-size: $font-size-3;
  font-weight: normal;

  // On a computer, make the ehader bigger.
  @media (min-width: $screen-xs-max) {
    font-size: $font-size-2;
  }
}
.visualization-space-detail-header-back-section:after {
  content: '/';
  margin-left: 10px;
  margin-right: 10px;
}

// Actual space name (after the prefix on the page header label)
.visualization-space-detail-header-title {
  color: $gray-cinder;
  font-size: $font-size-2;
  font-size: $font-size-3;
  font-weight: $font-weight-3;

  // On a computer, make the ehader bigger.
  @media (min-width: $screen-xs-max) {
    font-size: $font-size-2;
    font-weight: $font-weight-2;
  }
}

// "Historical" tag after the page title.
.visualization-space-detail-header-tag {
  display: none;

  margin-left: 20px;
  margin-top: 29px;

  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: $font-size-small;
  font-weight: 500;
  color: $brand-primary;

  border: 1px solid $brand-primary;
  border-radius: $border-radius-base;

  // On a computer, make the thing visible.
  @media (min-width: $screen-xs-max) {
    display: inline-table;
  }
}

// Time zone label in the right hand corner.
.visualization-space-detail-header-time-zone {
  margin-top: 30px;

  color: $gray-cinder;
  font-size: $font-size-3;
  font-weight: normal;

  // On a computer, add a margin left of auto to push the time zone over to the right.
  // Also, make the text size larger.
  @media (min-width: $screen-xs-max) {
    margin-left: auto;

    font-size: $font-size-2;
    font-weight: normal;
  }
}
.visualization-space-detail-header-time-zone:before {
  content: 'Timezone: ';
}

// Loading state for whole page
.visualization-space-detail-loading {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
