// 
// Density UI Styles
// 

// normalize.css @ 7.0.0
@import "reset";

// Global variables like colors, spacings, etc...
@import "../node_modules/@density/ui/variables/colors.json";
@import "../node_modules/@density/ui/variables/spacing.json";
@import "../node_modules/@density/ui/variables/fonts.json";
@import "../node_modules/@density/ui/variables/timings.json";
@import "../node_modules/@density/ui/variables/grid.json";

// Non-component bits of density-ui
@import "../node_modules/@density/ui/styles/font";
@import "../node_modules/@density/ui/styles/clearfix";
@import "../node_modules/@density/ui/styles/grid";

// Components:

// Navbar
@import "../node_modules/@density/ui-navbar/variables.json";
@import "../node_modules/@density/ui-navbar/dist/sass";

// Card
@import "../node_modules/@density/ui-card/variables.json";
@import "../node_modules/@density/ui-card/dist/sass";

// Modal
@import "../node_modules/@density/ui-modal/variables.json";
@import "../node_modules/@density/ui-modal/dist/sass";

// FAB
@import "../node_modules/@density/ui-fab/variables.json";
@import "../node_modules/@density/ui-fab/dist/sass";

// Context Menu
@import "../node_modules/@density/ui-context-menu/variables.json";
@import "../node_modules/@density/ui-context-menu/dist/sass";

// Input Box
@import "../node_modules/@density/ui-input-box/variables.json";
@import "../node_modules/@density/ui-input-box/dist/sass";

// Popover
@import "../node_modules/@density/ui-popover/variables.json";
@import "../node_modules/@density/ui-popover/dist/sass";

// Input Stack
@import "../node_modules/@density/ui-input-stack/variables.json";
@import "../node_modules/@density/ui-input-stack/dist/sass";

// Toast
@import "../node_modules/@density/ui-toast/variables.json";
@import "../node_modules/@density/ui-toast/dist/sass";

// Button
@import "../node_modules/@density/ui-button/variables.json";
@import "../node_modules/@density/ui-button/dist/sass";

// Navbar Sidebar
@import "../node_modules/@density/ui-navbar-sidebar/variables.json";
@import "../node_modules/@density/ui-navbar-sidebar/dist/sass";

// Date Picker
@import "../node_modules/@density/ui-date-picker/variables.json";
@import "../node_modules/@density/ui-date-picker/dist/sass";

// Date Range Picker
@import "../node_modules/@density/ui-date-range-picker/variables.json";
@import "../node_modules/@density/ui-date-range-picker/dist/sass";

// Pager Button group
@import "../node_modules/@density/ui-pager-button-group/variables.json";
@import "../node_modules/@density/ui-pager-button-group/dist/sass";

$font-size-x-small: 10px;


* {
  font-family: 'Sailec', 'Helvetica', 'Arial', sans-serif;
}

html {
  margin: 0px;
  background-color: #F0F0F2;
}

a {
  color: $brand-primary;
}

p {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  margin-top: 0px;
  margin-bottom: 0px;
}
pre {
  line-height: $line-height-base;
}
// Change autofill color in chrome to be white.
input[type=input], input[type=password] { &:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
} }

//
// Charts
//
@import "../node_modules/@density/chart-historical-counts/dist/sass";
@import "../node_modules/@density/chart-real-time-count/dist/sass";
@import "../node_modules/@density/chart-daily-metrics/dist/sass";

// 
// Component styles are included below for each component in the src/components folder.
// 

@import "./components/app/styles";
@import "./components/space-count/styles";
@import "./components/dev-token-list/styles";
@import "./components/unknown-page/styles";
@import "./components/dev-token-card/styles";
@import "./components/login/styles";
@import "./components/visualization-space-list/styles";
@import "./components/environment/styles";
@import "./components/environment-space-item/styles";
@import "./components/environment-doorway-item/styles";
@import "./components/environment-modal-create-space/styles";
@import "./components/environment-modal-create-doorway/styles";
@import "./components/environment-modal-sensor-placement/styles";
@import "./components/environment-modal-sensor-placement-assignment/styles";
@import "./components/environment-modal-update-doorway/styles";
@import "./components/environment-modal-update-space/styles";
@import "./components/modal-header-action-button/styles";
@import "./components/account/styles";
@import "./components/dev-token-create-modal/styles";
@import "./components/dev-webhook-list/styles";
@import "./components/dev-webhook-card/styles";
@import "./components/dev-webhook-create/styles";
@import "./components/visualization-space-detail/styles";
@import "./components/account-registration/styles";
@import "./components/dev-token-update-modal/styles";
@import "./components/visualization-space-card/styles";
@import "./components/dev-token-update-modal/styles";
@import "./components/dev-webhook-update-modal/styles";
@import "./components/subnav/styles";
@import "./components/account-forgot-password/styles";
@import "./components/icons/styles";
@import "./components/form-label/styles";
@import "./components/dev-description-popover/styles";
@import "./components/loading-spinner/styles";
@import "./components/error-bar/styles";
@import "./components/environment-switcher/styles";
@import "./components/environment-space-dismissable-toast/styles";
@import "./components/environment-modal-doorway-already-in-space/styles";
@import "./components/visualization-space-detail-24-hour-chart/styles";
@import "./components/visualization-space-detail-daily-metrics-card/styles";
@import "./components/visualization-space-detail-raw-events-card/styles";
@import "./components/visualization-space-detail-real-time-bar/styles";
@import "./components/visualization-space-detail-space-update-modal/styles";
@import "./components/visualization-space-detail-raw-events-pager/styles";
@import "./components/account-setup-overview/styles";
