/*
 * Density Dashboard styles
 *
 * This is the master stylesheet for the Density dashboard, and pulls in styles for a css reset, all
 * of the user interface components from Density UI, global style variables, charts styles and all
 * the component styles from all the components inside of src/components in this project.
 *
 * NB: When reading through the imports, you'll probably notice that some of them are pointing to
 * json files, not other sass files! What's up with that? Well, we're using this sass plugin called
 * node-sass-json-importer (https://github.com/DensityCo/node-sass-json-importer) that allows json
 * files to be imported and their keys used as sass variables. If might seem a bit strange, but
 * abstracting variables out into json like this means that variables can be accessed from both
 * javascript and from sass (webpack/node's `require` function can also accept the path to a json
 * file)
 *
 */

// normalize.css @ 7.0.0
@import "reset";

// Global variables like colors, spacings, etc...
@import "../node_modules/@density/ui/variables/colors.json";
@import "../node_modules/@density/ui/variables/spacing.json";
@import "../node_modules/@density/ui/variables/fonts.json";
@import "../node_modules/@density/ui/variables/timings.json";
@import "../node_modules/@density/ui/variables/grid.json";

// Non-component bits of density-ui
@import "../node_modules/@density/ui/styles/font";
@import "../node_modules/@density/ui/styles/clearfix";
@import "../node_modules/@density/ui/styles/grid";

// Components:

// Navbar
@import "../node_modules/@density/ui-navbar/variables.json";
@import "../node_modules/@density/ui-navbar/dist/sass";

// Card
@import "../node_modules/@density/ui-card/variables.json";
@import "../node_modules/@density/ui-card/dist/sass";

// Modal
@import "../node_modules/@density/ui-modal/variables.json";
@import "../node_modules/@density/ui-modal/dist/sass";

// FAB
@import "../node_modules/@density/ui-fab/variables.json";
@import "../node_modules/@density/ui-fab/dist/sass";

// Context Menu
@import "../node_modules/@density/ui-context-menu/variables.json";
@import "../node_modules/@density/ui-context-menu/dist/sass";

// Input Box
@import "../node_modules/@density/ui-input-box/variables.json";
@import "../node_modules/@density/ui-input-box/dist/sass";

// Popover
@import "../node_modules/@density/ui-popover/variables.json";
@import "../node_modules/@density/ui-popover/dist/sass";

// Input Stack
@import "../node_modules/@density/ui-input-stack/variables.json";
@import "../node_modules/@density/ui-input-stack/dist/sass";

// Toast
@import "../node_modules/@density/ui-toast/variables.json";
@import "../node_modules/@density/ui-toast/dist/sass";

// Button
@import "../node_modules/@density/ui-button/variables.json";
@import "../node_modules/@density/ui-button/dist/sass";

// Navbar Sidebar
@import "../node_modules/@density/ui-navbar-sidebar/variables.json";
@import "../node_modules/@density/ui-navbar-sidebar/dist/sass";

// Date Picker
@import "../node_modules/@density/ui-date-picker/variables.json";
@import "../node_modules/@density/ui-date-picker/dist/sass";

// Date Range Picker
@import "../node_modules/@density/ui-date-range-picker/variables.json";
@import "../node_modules/@density/ui-date-range-picker/dist/sass";

// Pager Button group
@import "../node_modules/@density/ui-pager-button-group/variables.json";
@import "../node_modules/@density/ui-pager-button-group/dist/sass";

// Radio Button
@import "../node_modules/@density/ui-radio-button/variables.json";
@import "../node_modules/@density/ui-radio-button/dist/sass";

// Mark
@import "../node_modules/@density/ui-density-mark/variables.json";
@import "../node_modules/@density/ui-density-mark/dist/sass";

// Percentage Bar
@import "../node_modules/@density/ui-percentage-bar/variables.json";
@import "../node_modules/@density/ui-percentage-bar/dist/sass";

// Switch
@import "../node_modules/@density/ui-switch/variables.json";
@import "../node_modules/@density/ui-switch/dist/sass";

// Info Popup
@import "../node_modules/@density/ui-info-popup/variables.json";
@import "../node_modules/@density/ui-info-popup/dist/sass";

$font-size-x-small: 10px;


* {
  font-family: 'Sailec', 'Helvetica', 'Arial', sans-serif;
}

// TODO: Should these be ported into Density UI?
input[type="text"],
input[type="textarea"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
  -webkit-appearance: none;
  box-shadow: none;
}

html {
  margin: 0px;
  background-color: #F0F0F2;
}

a {
  color: $brand-primary;
}

p {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  margin-top: 0px;
  margin-bottom: 0px;
}
pre {
  line-height: $line-height-base;
}

// Change autofill color in chrome to be white.
// TODO: still necessary after adding the box-shadow rule above?
input[type=input], input[type=password] { &:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
} }

// Densicons is an icon font with Density icons inside.
// TODO: back-port this into Density UI once builds are back (GC 2017-12-14)
@font-face {
  font-family: 'Densicons';
  src: url("#{$cdn-path}/fonts/densicons.4e3b11a3.ttf") format("truetype"),
    url("#{$cdn-path}/fonts/densicons.fdc1ac2e.eot") format("opentype"),
    url("#{$cdn-path}/fonts/densicons.222eea6d.woff") format("woff"),
    url("#{$cdn-path}/fonts/densicons.00b7e5bb.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

// TODO: back-port this into density UI
.input-box::placeholder {
  color: $gray;
}

// TODO: back-port this into density UI
.toast {
  width: calc(100% - 10px); /* Fit into a mobile viewport */
  max-width: 420px;
  margin: 0 auto;
}

//
// Charts
//
@import "../node_modules/@density/chart-historical-counts/dist/sass";
@import "../node_modules/@density/chart-real-time-count/dist/sass";
@import "../node_modules/@density/chart-daily-metrics/dist/sass";

// 
// Component styles are included below for each component in the src/components folder.
// 

@import "./components/app/styles";
@import "./components/space-count/styles";
@import "./components/dev-token-list/styles";
@import "./components/unknown-page/styles";
@import "./components/dev-token-card/styles";
@import "./components/login/styles";
@import "./components/live-space-list/styles";
@import "./components/environment/styles";
@import "./components/environment-space-item/styles";
@import "./components/environment-doorway-item/styles";
@import "./components/environment-modal-create-space/styles";
@import "./components/environment-modal-create-doorway/styles";
@import "./components/environment-modal-sensor-placement/styles";
@import "./components/environment-modal-sensor-placement-assignment/styles";
@import "./components/environment-modal-update-doorway/styles";
@import "./components/environment-modal-update-space/styles";
@import "./components/modal-header-action-button/styles";
@import "./components/account/styles";
@import "./components/dev-token-create-modal/styles";
@import "./components/dev-webhook-list/styles";
@import "./components/dev-webhook-card/styles";
@import "./components/dev-webhook-create/styles";
@import "./components/account-registration/styles";
@import "./components/dev-token-update-modal/styles";
@import "./components/live-space-card/styles";
@import "./components/dev-token-update-modal/styles";
@import "./components/dev-webhook-update-modal/styles";
@import "./components/subnav/styles";
@import "./components/account-forgot-password/styles";
@import "./components/icons/styles";
@import "./components/form-label/styles";
@import "./components/dev-description-popover/styles";
@import "./components/loading-spinner/styles";
@import "./components/error-bar/styles";
@import "./components/environment-switcher/styles";
@import "./components/environment-space-dismissable-toast/styles";
@import "./components/environment-modal-doorway-already-in-space/styles";
@import "./components/insights-space-detail-foot-traffic-card/styles";
@import "./components/insights-space-detail-daily-metrics-card/styles";
@import "./components/visualization-space-detail-raw-events-card/styles";
@import "./components/insights-edit-count-modal/styles";
@import "./components/visualization-space-detail-raw-events-pager/styles";
@import "./components/account-setup-overview/styles";
@import "./components/account-setup-header/styles";
@import "./components/account-setup-doorway-list/styles";
@import "./components/account-setup-doorway-detail/styles";
@import "./components/account-setup-doorway-detail-image-upload/styles";
@import "./components/image-retry/styles";
@import "./components/nav-logged-in/styles";
@import "./components/nav-logged-out/styles";
@import "./components/input-stack/styles";
@import "./components/live-space-detail/styles";
@import "./components/insights-space-list/styles";
@import "./components/insights-space-detail-utilization-card/styles";
@import "./components/sortable-grid-header/styles";
@import "./components/insights-set-capacity-modal/styles";
@import "./components/space-hierarchy-select-box/styles";
@import "./components/insights-space-trends/styles";
@import "./components/insights-filter-bar/styles";
@import "./components/include-weekends-switch/styles";
@import "./components/insights-space-header/styles";
@import "./components/insights-space-daily/styles";
