//
// Home Page
// -----------------------------------------

// Hero
// ------------------------

.home-hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  // background-image: url(../images/r57_three_quarter_placeholder.png);
  background-position: 200px 0;

  .container { position: relative; }

  .page-header {
    margin-bottom: 20px;
    color: #fff;
  }
}

.home-hero-typeset {
  color: $brand-primary;
}

.home-hero-button {
  text-decoration: none;
}

.home-hero-play {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  background-color: $brand-primary;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  color: #fff;

  i {
    display: inline-block;
    margin-right: -4px;
  }

  i:before {
    font-size: 22px;
    vertical-align: middle;
  }
}

// Testimonial Card
// ------------------------

.home-testimonial-section {
  background-color: $gray-lighter;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.home-testimonial-container {
  margin-right: 0;
  margin-left: 0;
  max-width: none;
}

.home-testimonial-header {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 1px solid $gray;
  color: $brand-primary;
  text-align: center;
  line-height: 48px;

  i:before {
    font-size: 24px;
    color: $gray;
    vertical-align: middle;
  }
}

.home-testimonial-scroller {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: none;
  padding-bottom: 40px;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar { display: none; }
}

.home-testimonial-card {
  flex-grow: 0;
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  margin-left: 20px;

  img {
    max-width: 100%;
  }

  &.short {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
  }
}

.home-testimonial-card {
  &:first-child { margin-left: 20px; }
  &:last-child { margin-right: 20px; }
}

.home-testimonial-card + .home-testimonial-card {
  margin-top: 0;
}

.home-testimonial-card-logo {
  max-height: 24px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.home-testimonial-card-source {
  color: $gray;
  font-style: italic;
}

.home-testimonial-spacer {
  flex-grow: 0;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}

// Product Section
// ------------------------

.home-product-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../images/r57_three_quarter_placeholder.png);
  background-position: 200px 0;
}

// Compatability
// ------------------------

.home-compatibility-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../images/r57_environment_placeholder.png);
  background-position: -300px 0;
  background-color: #F7F7F7;
}


// Media
// ------------------------

@media (min-width: $screen-sm) {
  .home-hero-section {
    padding-top: 310px;
    padding-bottom: 310px;
  }

  .home-testimonial-scroller {
    padding-bottom: 80px;
  }

  .home-testimonial-card {
    &:first-child { margin-left: 80px; }
    &:last-child { margin-right: 80px; }
  }

  .home-product-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .home-compatibility-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
