.webhook-card-header-text {
  font-weight: normal;
}

.webhook-card-edit {
  float: right;
}

.webhook-card-endpoint-label {
  display: block;
  color: $gray;
  font-weight: 300;
  margin-bottom: 6px;
}

.webhook-card-endpoint {
  font-family: $font-monospace;

  display: block;
  padding: 13.5px 10px;
  font-size: $font-size-base;

  background-color: $gray-lighter;
  color: $gray-darker;
  border-radius: $border-radius-base;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

// The "active" checkbox that indicates if a webhook is enabled or disabled.
.webhook-card-active-checkbox { display: none; }
.webhook-card-active-checkbox {
  margin-top: 10px;
  input {
    display: none;
  }
  label {
    user-select: none;
    color: #CCC;
  }
  label:before {
    content: "X";
    border: 2px solid #CCC;
    color: #CCC;
    border-radius: 2px;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 1px;
    margin-right: 0.5em;
  }
  input:checked + label {
    color: #333;
  }
  input:checked + label:before {
    content: "\2713";
    border-color: #333;
    color: #333;
  }
}
