.webhook-card {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  color: #8E9299;
  border: 1px solid #E8E8ED;
}

.webhook-card-header-text {
  font-size: $font-size-3;
  font-weight: $font-weight-3;
  margin-bottom: -3px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Use flexbox to lay out the webhook text box in the body of the card.
.webhook-card-body {
  display: flex;
  flex-direction: row;

  font-family: $font-base;
  font-size: 14px;
  padding: 20px;
}

.webhook-card-header {
  font-family: $font-base;
  color: $gray-darkest;
  font-size: 18px;
  font-weight: bold;

  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 18px;
}

.webhook-card-edit {
  margin-left: auto;
  font-weight: normal;
}

.webhook-card-body {
  display: flex;
  flex-direction: column;
}

.card .webhook-card-header { padding-bottom: 10px; }

.webhook-card-endpoint-label {
  display: block;
  color: $gray;
  font-weight: 300;
  margin-bottom: 6px;
}

.webhook-card-endpoint {
  font-family: $font-monospace;
  color: $gray-darkest;

  display: block;
  flex: 1;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

// The "active" checkbox that indicates if a webhook is enabled or disabled.
.webhook-card-active-checkbox { display: none; }
.webhook-card-active-checkbox {
  margin-top: 10px;
  input {
    display: none;
  }
  label {
    user-select: none;
    color: #CCC;
  }
  label:before {
    content: "X";
    border: 2px solid #CCC;
    color: #CCC;
    border-radius: 2px;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 1px;
    margin-right: 0.5em;
  }
  input:checked + label {
    color: #333;
  }
  input:checked + label:before {
    content: "\2713";
    border-color: #333;
    color: #333;
  }
}
