<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Density Boilerplate{% endblock %}</title>
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/favicon.html" %}
    <link rel="stylesheet" href="{{ resolveAsset('assets/application.css') }}">
    {% block before_end_head %}{% endblock %}
  </head>
  <body {% block body_attrs %}{% endblock %}>

    {% block content %}{% endblock %}

    {% block before_end_body %}{% endblock %}

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="{{ resolveAsset('assets/application.js') }}"></script>

    {% if LIVERELOAD_ENABLED %}
      <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
  </body>
</html>
