.token-list-container {
  @include grid-container;
  margin: 30px auto;

  position: relative;
}

// The "Token" header at the top of the page.
.token-list-header {
  padding-left: 8px;
  padding-top: 20px;
  color: $gray-darkest;
  font-size: $font-size-2;
  font-weight: $font-weight-2;

  // Allow the description icon to lie to the right, inline.
  display: inline-block;
}
.token-list-description-link {
  padding-top: 10px;
  display: block;
}

.token-list-row {
  @include grid-row;
}

.token-list-item {
  @include grid-width(24, 12, 12, 12);
  margin-top: 40px;
}

// The search box used to filter the tokens collection.
.token-list-search input {
  width: 200px;
  margin-left: 8px;
}

// The FAB used to add a new token.
.token-list .fab {
  line-height: 60px;
  position: absolute;
  right: 16px;
  top: 0px;
}
