.token-list-container {
  @include grid-container;
  margin: 30px auto;
}

// The top section on the token page that contains the token header and a search box
.token-list-header {
  margin-top: 80px;

  // On a computer:
  // 1. Decrease the padding along the top edge.
  // 2. Make the header container full width on a computer so that the search box moves all the way
  // to the right.
  @media (min-width: $screen-xs-max) {
    margin-top: 40px; /* 1 */
    display: flex; /* 2 */
  }
}

// The "Token" header at the top of the page.
.token-list-header-text {
  display: inline-block;

  color: $gray-darkest;
  font-size: $font-size-2;
  font-weight: $font-weight-2;

  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.token-list-header-title { display: flex; }
.token-list-description-link {
  margin-top: 10px;
  display: block;
}

.token-list-row {
  @include grid-row;
  z-index: -5;
}

.token-list-item {
  @include grid-width(24, 12, 12, 12);
  margin-top: 20px;
}

// The search box used to filter the tokens collection.
.token-list-search {
  // When the token list is shown on mobile, the search box is on a new line.
  margin-left: 10px;
  margin-top: 20px;
  @media (min-width: $screen-xs-max) {
    margin-left: auto;
    margin-top: 0px;
  }
}
.token-list-search input {
  width: 200px;
  margin-right: 10px;
}

// Link used to create a new token.
.token-list-create-token-link {
  cursor: pointer;
  user-select: none;
  color: $gray-cinder;

  margin-top: 20px;

  &:before {
    color: $brand-primary;

    font-family: 'Densicons';
    content: "\e92c";

    margin-right: 8px;
    margin-left: 10px;
  }

  &:hover { opacity: 0.8; }
  &:active { opacity: 1; }
}

.token-list-container .info-popup-icon {
  vertical-align: middle;
}
