$app-navbar-width: 1400px;
$app-navbar-height: 40px;
$app-navbar-padding: 20px;

.app-navbar-container {
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;

  background-color: #fff;
  height: $app-navbar-height;
  border-bottom: 1px solid $gray-light;
}

.app-navbar {
  flex: 1;
  display: flex;
  justify-content: space-between;

  height: $app-navbar-height;

  padding-left: 8px;
  padding-right: 8px;
}

.app-navbar-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 0px;

  list-style-type: none;
}

.app-navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 0px;

  list-style-type: none;
}

.app-navbar-item {
  display: none;
  user-select: none;
  height: $app-navbar-height;

  opacity: 0.5;
  transition: opacity 125ms ease-in-out;
}
.app-navbar-item:hover, .app-navbar-item.selected { opacity: 1; }

.app-navbar-item > a, .app-navbar-item > span {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $app-navbar-height;

  padding-left: 16px;
  padding-right: 16px;

  color: $gray-cinder;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.app-navbar-item.selected > a,
.app-navbar-item.selected > span { color: $brand-primary-new; }

.app-navbar-item.showOnMobile {
  display: flex;
}
@media (min-width: $screen-sm-max) {
  .app-navbar-item {
    display: flex;
  }
}

.app-navbar-icon { padding-right: 8px; }


// Dropdown menu
.app-navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 8px;
  // Should not be below anything on the page, ever
  z-index: 9999;
}

.app-navbar-menu-value {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $gray-cinder;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;

  outline: none;
  transition: all 100ms ease-in-out;
  &:hover { opacity: 0.9; }
}
.app-navbar-menu-value.selected {
  background-color: $brand-primary-new;
}

.app-navbar-menu-items {
  position: absolute;
  top: $app-navbar-height;
  right: 16px;

  display: flex;
  flex-direction: column;
  background-color: #fff;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 32px;

  border: 1px solid $gray;
  border-radius: 4px;

  transition: all 100ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.app-navbar-menu-items.visible {
  opacity: 1;
  pointer-events: auto;
}

.app-navbar-menu-item {
  display: flex;
  align-items: center;
  height: 40px;
  opacity: 0.5;
  user-select: none;

  transition: opacity 125ms ease-in-out;
  color: $gray-cinder;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
}
.app-navbar-menu-item:hover { opacity: 1; }
.app-navbar-menu-item.selected {
  opacity: 1;
  color: $brand-primary-new;
}

.app-navbar-menu-item-icon {
  padding-right: 8px;
}
