.image-retry-loading {
  text-align: center;
  background-color: $gray-lighter;
}
.image-retry-loading:before {
  font-family: 'Densicons';
  content: '\e91d';
  color: $gray-dark;
  font-size: $font-size-3;
}

.image-retry-fallback {
  text-align: center;
  background-color: $gray-lighter;
}
.image-retry-fallback:before {
  font-family: 'Densicons';
  content: '\e91d';
  color: $gray-dark;
  font-size: $font-size-3;
}
