.dev-description-modal {
  width: 300px;
}

// The info `(i)` icon for the description popover.
.dev-description-icon {
  display: inline-block;
  color: $brand-primary;
  cursor: pointer;
  margin-left: 10px;

  position: relative;
  top: -1px;

  font-family: "Densicons";
  font-size: $font-size-base;
}
