.dev-description-popover { margin-left: 4px; }
.dev-description-modal { width: 300px; }

// The info `(i)` icon for the description popover.
.dev-description-icon {
  display: inline-block;
  color: $gray;
  cursor: pointer;
  margin-left: 10px;

  font-family: "Densicons";
  font-size: 16px;
}
