// Center the input field within the modal
.insights-set-capacity-modal-capacity-input {
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}


// On mobile, don't make this modal full-height.
.insights-set-capacity-modal > .modal { height: 50vh; }
.insights-set-capacity-modal-card { height: auto !important; }
